<div class="x-row">
	<b class="x-large x-padding x-text-teal x-left">DIP Preparational and Approval</b>
	<div class="x-button x-right x-text-orange x-hover-orange" onclick="">
		<b>Export Data</b> | <span class="fa fa-download"></span>
	</div>
	<div class="x-button x-right x-text-blue x-hover-blue" onclick="">
		<b>Import Spreadsheet</b> | <span class="fa fa-upload"></span>
	</div>
	<button class="x-btn x-right x-green" onclick="$ID('dcf_modal_add').style.display='block'">
		Add DC Form <span class="fa fa-plus"></span>
	</button>

	<div id="dcf_modal_add" class="x-modal" style="display:block">
		<div class="x-modal-content" style=";width: 70vw;">
			<div class="x-container">
				<b onclick="$ID('dcf_modal_add').style.display='none'"
				class="x-button x-display-topright x-red">&times;</b>
				<h3 class="x-text-teal"><b>DIP Preparational and Approval Form</b></h3>
			</div>
			<div class="x-container x-padding">
				<div class="x-col l6 x-padding">
					<span>RCU</span>
					<input id="rcu" class="form_dcf_dip_prep_approval x-input x-border" type="" >
					<span>Number Of DIP</span>
					<input id="num_dip" class="form_dcf_dip_prep_approval x-input x-border" type="" >
					<span>Anchor Firms</span>
					<input id="anchor_firms" class="form_dcf_dip_prep_approval x-input x-border" type="" >
				</div>
				<div class="x-col l6 x-padding">
					<span>Size of Anchor Firm</span>
					<select id="anchor_firms_size" class="form_dcf_dip_prep_approval x-select x-border" >
						<option disabled selected value="None">Select options</option>
						<option value="micro">micro</option>
						<option value="small">small</option>
						<option value="medium">medium</option>
						<option value="large">large</option>
					</select>

					<span>Commodity</span>
					<select id="commodity" class="form_dcf_dip_prep_approval x-select x-border" >
						<option disabled selected value="None">Select options</option>
					</select>

					<span>Provinces</span>
					<select id="provinces" class="form_dcf_dip_prep_approval x-select x-border" >
						<option disabled selected value="None">Select options</option>
					</select>
				</div>
			</div>
			<hr>
			<div class="x-padding">
				<b class="x-text-teal x-large">Process</b>
			</div>
			<div class="x-row">
				<div class="x-container x-padding x-col m6 l6">
					<div class="x-row x-padding x-border-dashed x-border-grey">
						<span>For Development</span>
						<input id="for_dev" class="form_dcf_dip_prep_approval x-input x-border" type="" >
						<span>CN Approved Date</span>
						<input id="cn_approve_date" class="form_dcf_dip_prep_approval x-input x-border" type="date" >
					</div>
					<div class="x-row x-padding x-border-dashed x-border-grey">
						<b class="x-row">
							P1: Full BPs and DIPs Finalized/Approved by RCUs and endorsed to NPCO for Review
						</b>
						<div class="x-row">
							<div class="x-col m6 l6">Date<br><input id="p1" class="form_dcf_dip_prep_approval x-input x-border" type="date" ></div>
							<div class="x-col m4 l4">MOV/Attachments<br><input id="p1_mov" class="form_dcf_dip_prep_approval x-input x-border" type="file" ></div>
						</div>
					</div>
					<div class="x-row x-padding x-border-dashed x-border-grey">
						<b class="x-row">
							P2: Date of the Parallel Review with NPCO/RGMS-IFAD-RTWG
						</b>
						<div class="x-row">
							<div class="x-col m6 l6">Date<br><input id="p2" class="form_dcf_dip_prep_approval x-input x-border" type="date" ></div>
							<div class="x-col m4 l4">MOV/Attachments<br><input id="p2_mov" class="form_dcf_dip_prep_approval x-input x-border" type="file" ></div>
						</div>
					</div>
					<div class="x-row x-padding x-border-dashed x-border-grey">
						<b class="x-row">
							P3: Date of submission of the  revised DIPs based on the comments from the parallel review
						</b>
						<div class="x-row">
							<div class="x-col m6 l6">Date<br><input id="p3" class="form_dcf_dip_prep_approval x-input x-border" type="date" ></div>
							<div class="x-col m4 l4">MOV/Attachments<br><input id="p3_mov" class="form_dcf_dip_prep_approval x-input x-border" type="file" ></div>
						</div>
					</div>
					<div class="x-row x-padding x-border-dashed x-border-grey">
						<b class="x-row">
							P4: RTWG Approved
						</b>
						<div class="x-row">
							<div class="x-col m6 l6">Date<br><input id="p4" class="form_dcf_dip_prep_approval x-input x-border" type="date" ></div>
							<div class="x-col m4 l4">MOV/Attachments<br><input id="p4_mov" class="form_dcf_dip_prep_approval x-input x-border" type="file" ></div>
						</div>
					</div>
					<div class="x-row x-padding x-border-dashed x-border-grey">
						<b class="x-row">
							P5: NPCO cursory review of RCU's compliance to parallel review comments; and DIP  endorsement to NOTUS Uploading
						</b>
						<div class="x-row">
							<div class="x-col m6 l6">Date<br><input id="p5" class="form_dcf_dip_prep_approval x-input x-border" type="date" ></div>
							<div class="x-col m4 l4">MOV/Attachments<br><input id="p5_mov" class="form_dcf_dip_prep_approval x-input x-border" type="file" ></div>
						</div>
					</div>
					<div class="x-row x-padding x-border-dashed x-border-grey">
						<b class="x-row">
							P6: Uploading to IFAD NOTUS
						</b>
						<div class="x-row">
							<div class="x-col m6 l6">Date<br><input id="p6" class="form_dcf_dip_prep_approval x-input x-border" type="date" ></div>
							<div class="x-col m4 l4">MOV/Attachments<br><input id="p6_mov" class="form_dcf_dip_prep_approval x-input x-border" type="file" ></div>
						</div>
					</div>
					<div class="x-row x-padding x-border-dashed x-border-grey">
						<b class="x-row">
							P7: IFAD NO Issuance
						</b>
						<div class="x-row">
							<div class="x-col m6 l6">Date<br><input id="p7" class="form_dcf_dip_prep_approval x-input x-border" type="date" ></div>
							<div class="x-col m4 l4">MOV/Attachments<br><input id="p7_mov" class="form_dcf_dip_prep_approval x-input x-border" type="file" ></div>
						</div>
					</div>
				</div>

				<div class="x-container x-padding x-col m6 l6">
					<!-- ================================= -->
					<div class="x-container x-row x-border-dashed x-border-grey">
						<div class="x-row x-padding">
							<span>Farmers Organization</span><br>
							<div id="fo_list" class="x-select x-dropdown_multiple x-container x-row">
							</div>
						</div>
						<div class="x-row x-padding">
							<span>DIP's</span><br>
							<div id="dip_list" class="x-select x-dropdown_multiple x-container x-row">
							</div>
						</div>
						<div class="x-row x-padding">
							<span>Name of Benificiaries</span><br>
							<div id="benif_list" class="x-select x-dropdown_multiple x-container x-row">
							</div>
						</div>
					</div>
					<div class="x-container x-row">
						<div class="x-row x-padding">
							<span> Total Hectarage Covered </span><br>				<input id="total_ha_coverage" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">

						</div>
						<div class="x-row ">
							<div class="x-col l6 m6 x-padding">
								<span> Hectares for Rehab </span>
								<input id="rehab_ha" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
							</div>
							<div class="x-col l6 m6 x-padding">
								<span> Total Cost of Rehab  </span>
								<input id="rehab_cost" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
							</div>
						</div>
						<div class="x-row ">
							<div class="x-col l6 m6 x-padding">
								<span> Hectares for Expansion </span>
								<input id="expand_ha" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
							</div>
							<div class="x-col l6 m6 x-padding">
								<span> Total Cost of Expansion </span>
								<input id="expand_cost" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
							</div>
						</div>
						<div class="x-row x-padding">
							<span> Total Cost of Productive Investments (equipment, facilities, warehouse) </span>
							<input id="total_cost_prod_inv" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
						</div>
						<div class="x-row x-padding">
							<span> Total Matching Grant (AA+AB) </span>
							<input id="total_matching_grant" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
						</div>
						<div class="x-row x-padding">
							<span> Capacity Building Cost (Organizational + Technical trainings:  post-production, and etc.) </span>
							<input id="cost_cap_build" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
						</div>
						<div class="x-row x-padding">
							<span> Supply Chain Manager </span>
							<input id="supply_chain_manage" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
						</div>
						<div class="x-row x-padding">
							<span> Total Project Cost (Y+AC+AD+AE) </span>
							<input id="total_proj_cost_y_ac_ad_ae" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
						</div>
						<div class="x-row x-padding">
							<span> FMI </span>
							<input id="fmi" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
						</div>
						<div class="x-row x-padding">
							<span> FMI Kms </span>
							<input id="fmi_kms" class="form_dcf_dip_prep_approval x-input x-border" type="" name="">
						</div>
					</div>
					<!-- ================================= -->
				</div>
			</div>
			<hr>
			<div class="x-container x-row">
				<span class=" x-padding x-text-grey x-left" style="width:70%">
					By Clicking Submit. You agree that all the data above is correct and true
				</span>
				<button class="x-btn x-green x-right" onclick="_submit_dcf_dip_prep_approval('form_dcf_dip_prep_approval')">
					Add DC Form <span class="fa fa-plus"></span>
				</button>
				
			</div>
			<hr>
		</div>
	</div>
</div>
<!-- <ul class="dd_items" style="overflow-y: scroll;max-height: 40%;"> -->
<script type="text/javascript">
	var dd1,dd2,dd3;
 	// window.setTimeout(function(){
	// 	$send({
	// 		action : "/api/v2/get_all_fo",
	// 		methods : GET,
	// 		func : function(r){
	// 			var resp = JSON.parse(r),ls_fo=[]
	// 			for (var i = 0; i < resp.length; i++) {ls_fo.push(resp[i].rcu)}
				
	// 		}
	// 	})
	// },500)
	fo_dropdown();
	dip_dropdown();
	benif_dropdown();

	function fo_dropdown(){
		dd1 = $dropdown_multiple({
			id : "fo_list",
			dd_id : "fo_options",
			classn : "form_dcf_dip_prep_approval",
			option :  [],
			search : true,
			add : true,
			on_add : function(item){
				println(item)
			}
		})
	}

	function dip_dropdown(){
		dd2 = $dropdown_multiple({
			id : "dip_list",
			dd_id : "dip_option",
			classn : "form_dcf_dip_prep_approval",
			option :  [],
			search : true,
			add : true,
			on_add : function(item){
				// alert(item)
			}
		})
	}

	function benif_dropdown(){
		dd3 = $dropdown_multiple({
			id : "benif_list",
			dd_id : "benif_option",
			classn : "form_dcf_dip_prep_approval",
			option :  [],
			search : true,
			add : true,
			on_add : function(item){
				// alert(item)
			}
		})
	}

	function get_data(){
		var forms = $CLASS("form_dcf_dip_prep_approval")
		for (var i = 0; i < forms.length; i++) {
			println(forms[i].id+" : "+forms[i].value)
		}
	}

	function _submit_dcf_dip_prep_approval(){}

</script>



