<div class="x-row">
	<b class="x-large x-padding x-text-teal x-left">Planting Materials</b>
	<button class="x-btn x-right x-green" onclick="$ID('dcf_modal_add_2').style.display='block'">
		Add DC Form <span class="fa fa-plus"></span>
	</button>

	<div id="dcf_modal_add_2" class="x-modal" style="display:none;">
		<div class="x-modal-content">
			<div class="x-container">
				<b onclick="$ID('dcf_modal_add_2').style.display='none'"
				class="x-button x-display-topright x-red">&times;</b>
				<h3 class="x-text-teal"><b>Planting Materials</b></h3>
			</div>
			<div class="x-container z-padding">
				<div class="x-col l6 x-padding">
					<span>Name Farmer's Organization</span>
					<input id="name_fo" class="planting_materials x-input x-border" type="" name="">

					<span>FO's Address</span>
					<input id="address" class="planting_materials x-input x-border" type="" name="">

					<br>
					<b>No. Farmers Attended</b>
					<div class="x-row">
						<div class="x-col l6">
							<span>Male</span>
							<input id="farmers_attended_male" class="planting_materials x-inputx-border" type="number" name="">
						</div>
						<div class="x-col l6">
							<span>Male</span>
							<input id="farmers_attended_female" class="planting_materials x-inputx-border" type="number" name="">
						</div>
					</div>

					<span>Attachments</span>
					<input id="attachment" class="planting_materials x-input x-border" type="file" multiple name="">

					<span>Areas Covered<i>(in Ha)</i></span>
					<input id="area_covered_ha" class="planting_materials x-input x-border" type="text" name="">

				</div>
				<div class="x-col l6 x-padding">
					<span>Planting Materials Received</span>
					<input id="planting_materials_received" class="planting_materials x-input x-border" type="text" name="">
					
					<span>Title of Training Attended/Participated</span>
					<input id="title_training_attended" class="planting_materials x-input x-border" type="text" name="">

					<span>Dates</span>
					<input id="dates" class="planting_materials x-input x-border" type="date" name="">

					<span>Priority Commodity</span>
					<input id="prior_commodity" class="planting_materials x-input x-border" type="" name="">

					<span>Remarks</span>
					<input id="remarks" class="planting_materials x-input x-border" type="" name="">
				</div>
			</div>
			<hr>
			<div class="x-container x-row">
				<span class=" x-padding x-text-grey x-left" style="width:70%">
					By Clicking Submit. You agree that all the data above is correct and true
				</span>

				<button class="x-btn x-green x-right" onclick="submit_1('planting_materials')">
					Add DC Form <span class="fa fa-plus"></span>
				</button>
			</div>
			<hr>
		</div>
	</div>

</div>


