<div class="x-row">

	<b class="x-large x-padding x-text-teal x-left">Prototypes Developed</b>
	<button class="x-btn x-right x-green" onclick="$ID('dcf_modal_add_5').style.display='block'">
		Add DC Form <span class="fa fa-plus"></span>
	</button>

	<div id="dcf_modal_add_5" class="x-modal" style="display:none;">
		<div class="x-modal-content">
			<div class="x-container">
				<b onclick="$ID('dcf_modal_add_5').style.display='none'"
				class="x-button x-display-topright x-red">&times;</b>
				<h3 class="x-text-teal"><b>Prototypes Developed</b></h3>
			</div>
			<div class="x-container z-padding">
				<div class="x-col l6 x-padding">
					<span>Name of Prototype</span>
					<input id="name_prototype" class="prototypes_dev x-input x-border" type="" name="">

					<span>Brief Description</span>
					<input id="description" class="prototypes_dev x-input x-border" type="" name="">

					<span>Remarks</span>
					<input id="remarks" class="prototypes_dev x-input x-border" type="" name="">

				</div>
				<div class="x-col l6 x-padding">
					<span>Priority Commodity</span>
					<input id="prior_commodity" class="prototypes_dev x-input x-border" type="" name="">

					<span>Value Chain Segment</span> 
					<input id="value_chain_segments" class="prototypes_dev x-input x-border" type="" name="">
				</div>
			</div>
			<hr>
			<div class="x-container x-row">
				<span class=" x-padding x-text-grey x-left" style="width:70%">
					By Clicking Submit. You agree that all the data above is correct and true
				</span>

				<button class="x-btn x-green x-right" onclick="submit_1('prototypes_dev')">
					Add DC Form <span class="fa fa-plus"></span>
				</button>
			</div>
			<hr>
		</div>
	</div>



</div>
