<div class="x-container">
	<b class="x-large x-padding x-text-teal x-left">Rehabilitation and Rejuvenation Intervention</b>
	<button class="x-btn x-right x-green" onclick="$ID('dcf_modal_add_3').style.display='block'">
		Add DC Form <span class="fa fa-plus"></span>
	</button>

	<div id="dcf_modal_add_3" class="x-modal" style="display:none;">
		<div class="x-modal-content">
			<div class="x-container">
				<b onclick="$ID('dcf_modal_add_3').style.display='none'"
				class="x-button x-display-topright x-red">&times;</b>
				<h3 class="x-text-teal"><b>Rehabilitation and Rejuvenation Intervention</b></h3>
			</div>
			<div class="x-container z-padding">
				<div class="x-col l6 x-padding">
					<span>Name Farmer's Organization</span>
					<input id="name_fo" class="rehab_rejuv x-input x-border" type="" name="">

					<span>Address</span>
					<input id="address" class="rehab_rejuv x-input x-border" type="" name="">

					<br>
					<b>No. Farmers Attended</b>
					<div class="x-row">
						<div class="x-col l6">
							<span>Male</span>
							<input id="farmers_attended_male" class="rehab_rejuv x-inputx-border" type="number" name="">
						</div>
						<div class="x-col l6">
							<span>Male</span>
							<input id="farmers_attended_female" class="rehab_rejuv x-inputx-border" type="number" name="">
						</div>
					</div>

					<span>Attachments</span>
					<input id="attachments" class="rehab_rejuv x-input x-border" type="file" multiple name="">

					<span>Areas Covered<i>(in Ha)</i></span>
					<input id="area_covered_ha" class="rehab_rejuv x-input x-border" type="text" name="">

				</div>
				<div class="x-col l6 x-padding">
					<span>Amount Rehabilitation and Rejuvenation Intervention Received</span>
					<input id="rehab_rejuv_amount_received" class="rehab_rejuv x-input x-border" type="text" name="">

					<span>Date Received</span>
					<input id="date_received" class="rehab_rejuv x-input x-border" type="date" name="">

					<span>Current Production <i>( in kg. )</i></span>
					<input id="current_prod_kg" class="rehab_rejuv x-input x-border" type="" name="">

					<span>Priority Commodity</span>
					<input id="prior_commodity" class="rehab_rejuv x-input x-border" type="" name="">

					<span>Remarks</span>
					<input id="remarks" class="rehab_rejuv x-input x-border" type="" name="">
				</div>
			</div>
			<hr>
			<div class="x-container x-row">
				<span class=" x-padding x-text-grey x-left" style="width:70%">
					By Clicking Submit. You agree that all the data above is correct and true
				</span>

				<button class="x-btn x-green x-right" onclick="submit_1('rehab_rejuv')">
					Add DC Form <span class="fa fa-plus"></span>
				</button>
			</div>
			<hr>
		</div>
	</div>
</div>




