<div class="x-row">

	<b class="x-large x-padding x-text-teal x-left">Trade Fair/ Selling Mission Participation</b>
	<button class="x-btn x-right x-green" onclick="$ID('dcf_modal_add_6').style.display='block'">
		Add DC Form <span class="fa fa-plus"></span>
	</button>

	<div id="dcf_modal_add_6" class="x-modal" style="display:none;">
		<div class="x-modal-content">
			<div class="x-container">
				<b onclick="$ID('dcf_modal_add_6').style.display='none'"
				class="x-button x-display-topright x-red">&times;</b>
				<h3 class="x-text-teal"><b>Trade Fair/ Selling Mission Participation</b></h3>
			</div>
			<div class="x-container z-padding">
				<div class="x-col l6 x-padding">
					<span>Name of SME's</span>
					<input id="name_sme" class="trade_fair x-input x-border" type="" name="">

					<span>Title of Trade Fair Participated</span>
					<input id="trade_fair_title_participated" class="trade_fair x-input x-border" type="" name="">

					<span>Inclusive Dates</span>
					<input id="inclusive_date" class="trade_fair x-input x-border" type="date" name="">

					<span>Venue</span>
					<input id="venue" class="trade_fair x-input x-border" type="" name="">

					<br>
					<span>Attachments</span>
					<input id="attachments" class="trade_fair x-input x-border" type="file" multiple name="">

				</div>
				<div class="x-col l6 x-padding">

					<b>Total Sales Generated <i>(in Php)</i></b>
					<div class="x-row x-container">
						<div class="x-col l4">
							<span>Cash</span>
							<input id="total_sales_generated_cash" class="trade_fair x-input x-border" type="number" name="">
						</div>
						<div class="x-col l4">
							<span>Booked</span>
							<input id="total_sales_generated_booked" class="trade_fair x-input x-border" type="number" name="">
						</div>
						<div class="x-col l4">
							<span>Under Negotiation</span>
							<input id="total_sales_generated_under_nego" class="trade_fair x-input x-border" type="number" name="">
						</div>
					</div>
					<br>
					<span>Number of Inquiries</span>
					<input id="number_inquiries" class="trade_fair x-input x-border" type="text" name="">

					<span>Priority Commodity</span>
					<input id="prior_commodity" class="trade_fair x-input x-border" type="" name="">

					<span>Value Chain Segment</span>
					<input id="value_chain_segments" class="trade_fair x-input x-border" type="" name="">

					<span>Current Production <i>( in kg. )</i></span>
					<input id="current_prod_kg" class="trade_fair x-input x-border" type="" name="">

					<span>Remarks</span>
					<input id="remarks" class="trade_fair x-input x-border" type="" name="">
				</div>
			</div>
			<hr>
			<div class="x-container x-row">
				<span class=" x-padding x-text-grey x-left" style="width:70%">
					By Clicking Submit. You agree that all the data above is correct and true
				</span>

				<button class="x-btn x-green x-right" onclick="submit_1('trade_fair')">
					Add DC Form <span class="fa fa-plus"></span>
				</button>
			</div>
			<hr>
		</div>
	</div>
</div>
