<div class="x-container">
	<div class="x-container x-col l2 x-leftbar x-border-teal">
		<div>
			<span class=" x-text-grey">
				<b class="x-text-teal fa fa-calendar-chart"></b>Data Capture Forms Overview<br>
			</span>
			<span class="x-large">Data Capture Forms</span>
		</div>
		<hr>
		<div class="x-row">

			<button class="dcf_top_tab x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="dcf_go_tab(0)">
				<!-- <b class="x-text-teal fa fa-edit x-large"></b>&nbsp;&nbsp;  -->
				DIP Preparational and Approval (Old Version)
			</button>
			<button class="x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="show_sub_form_dcf('dcf/dcf_trade_promotion')">
				<!-- <b class="x-text-teal fa fa-edit x-large"></b>&nbsp;&nbsp;  -->
				Trade Promotion
			</button>
			<button class="x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="show_sub_form_dcf('/dcf/dcf_product_development')">
				<!-- <b class="x-text-teal fa fa-edit x-large"></b>&nbsp;&nbsp;  -->
				Product Development
			</button>
			<button class="x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="show_sub_form_dcf('/dcf/dcf_matching_grant')">
				<!-- <b class="x-text-teal fa fa-edit x-large"></b>&nbsp;&nbsp;  -->
				Matching Grant Tracker
			</button>
			<button class="x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="show_sub_form_dcf('/dcf/dcf_enablers_tracker')">
				<!-- <b class="x-text-teal fa fa-edit x-large"></b>&nbsp;&nbsp;  -->
				Enablers Activity Tracker
			</button>
			<button class="x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="show_sub_form_dcf('/dcf/dcf_equity_tracker')">
				<!-- <b class="x-text-teal fa fa-edit x-large"></b>&nbsp;&nbsp;  -->
				Equity Tracker
			</button>
			<button class="x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="show_sub_form_dcf('/dcf/dcf_dip_preparation_tracker')">
				<!-- <b class="x-text-teal fa fa-edit x-large"></b>&nbsp;&nbsp;  -->
				DIP Preparation Tracker
			</button>
		</div>
	</div>

	<div class="x-container x-col l10">
		<br><br>
		<div class="x-container x-round">
			<div class="dcf_body_content x-white x-padding x-round x-animate-top" style="display:block;">
				{% include 'home/no_data.html' %}
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	// dcf_go_tab(0)
	function dcf_go_tab(_index){
		var tabs = $CLASS("dcf_top_tab")
		var dcf_body_content = $CLASS("dcf_body_content")  // FOR BODY CONTENT
		for (var i = 0; i < tabs.length; i++) {
			tabs[i].classList.remove("x-leftbar","x-border-teal")
			dcf_body_content[i].style.display = "none"  // FOR BODY CONTENT
		}
		tabs[_index].classList.add("x-leftbar","x-border-teal")
		dcf_body_content[_index].style.display = "block" // FOR BODY CONTENT
	}

	function show_sub_form_dcf(url){
		$send({
			action : url,
			method : GET,
			func : function(e){
				var dcf_dialog = $dialog({
					title : "Data Capture Form",
					subtitle : "Fill the entries correctly",
					content : e
				})
				dcf_dialog.dialog.querySelectorAll("div")[0].style.width="100%";
				dcf_dialog.dialog.querySelectorAll("div")[1].style.width="100%";
				dcf_dialog.dialog.style.width = "80%"
				dcf_dialog.show()
			}
		})
	}
</script>
<!-- <div id="conso1_chart"></div>
<span class="x-tiny" id="res"></span> -->

