<div class="x-container">
	<div class="x-container x-col l2 x-leftbar x-border-teal">
		<div>
			<span class=" x-text-grey">
				<b class="x-text-teal fa fa-calendar-chart"></b>Data Capture Forms Overview<br>
			</span>
			<span class="x-large">Data Capture Forms</span>
		</div>
		<hr>
		<div class="x-row">
			<button class="dcf_top_tab x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="dcf_go_tab(0)">
				<!-- <b class="x-text-teal fa fa-edit x-large"></b>&nbsp;&nbsp;  -->
				CPA Tracker
			</button>
		</div>
	</div>

	<div class="x-container x-col l10">
		<br><br>
		<div class="x-container x-round">
			<div class="dcf_body_content x-white x-padding x-round x-animate-top" style="display:block;">
				{% include 'home/data_capture_forms/DCF_dip_prep_approval.html' %}
				{% include 'home/no_data.html' %}
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	dcf_go_tab(0)
	function dcf_go_tab(_index){
		var tabs = $CLASS("dcf_top_tab")
		var dcf_body_content = $CLASS("dcf_body_content")  // FOR BODY CONTENT
		for (var i = 0; i < tabs.length; i++) {
			tabs[i].classList.remove("x-leftbar","x-border-teal")
			dcf_body_content[i].style.display = "none"  // FOR BODY CONTENT
		}
		tabs[_index].classList.add("x-leftbar","x-border-teal")
		dcf_body_content[_index].style.display = "block" // FOR BODY CONTENT
	}
</script>
<!-- <div id="conso1_chart"></div>
<span class="x-tiny" id="res"></span> -->

