

				<div class="x-container x-row x-leftbar x-border-teal">
					<div class="x-container x-header">
						<div class="x-col l4">
							<span class=" x-text-grey">
								<b class="x-text-teal fa fa-map-signs"></b>FMI Overview<br>
							</span>
							<span class="x-large">FMI Tracker</span></span>
						</div>
						<div class="x-col l8">
							<button class="x-btn x-green x-right" onclick="$ID('id01').style.display='block'">
								Add FMI <span class="fa fa-plus"></span>
							</button>
						</div>
					</div>

					<div class="x-container">
						
					</div>
				</div>

				<script type="text/javascript">
				</script>


				