<!DOCTYPE html>
<html>
	{% include 'head.html' %}
	<body class="x-light-grey" onload="__init__()">
		<header class="x-white x-container x-border" style="padding-left: 10%;padding-right: 10%;">
			<div class="">
				<div class="x-container x-col l6 ">
					<img src="../static/img/rapidlogo1.jpg" class="x-image" style="max-width: 10%;">
				</div>
				<div class="x-container x-padding-large x-col l6 ">
					<div class="x-container">
						<img src="../static/img/user.png" class="x-img x-circle x-right" style="max-width:7%">
						<span class="x-container x-right">
							<button class="x-btn x-border x-round" onclick="logout()"> <span class="x-text-red fa fa-power-off"></span> Logout</button>
							<button class="x-btn x-border x-round"> <span class="x-text-yellow fa fa-cog"></span> Settings</button>
						</span>
					</div>
				</div>
			</div>
		</header>
		<header class="x-white x-container" style="padding-left: 10%;padding-right: 10%;">
			<span class="">
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(0)">
					<b class="x-text-teal fa fa-home"></b>&nbsp;&nbsp; Home
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(1)">
					<b class="x-text-teal fa fa-users"></b>&nbsp;&nbsp; Profiling
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(2)">
					<b class="x-text-teal fa fa-map-signs"></b>&nbsp;&nbsp; FMI
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(3)">
					<b class="x-text-teal fa fa-calendar-check-o"></b>&nbsp;&nbsp; Activities
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(4)">
					<b class="x-text-teal fa fa-money"></b>&nbsp;&nbsp; Fund Tracker
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(5)">
					<b class="x-text-teal fa fa-book"></b>&nbsp;&nbsp; Documents/Archive
				</button>
				<button style="display:none" class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(6)">
					<b class="x-text-teal fa fa-newspaper-o"></b>&nbsp;&nbsp; Newsletters
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(7)">
					<b class="x-text-teal fa fa-newspaper-o"></b>&nbsp;&nbsp; Data Capture Forms
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(8)">
					<b class="x-text-teal fa fa-cog"></b>&nbsp;&nbsp; Settings
				</button>
			</span>
			<span class="x-right x-padding">
				<input style="width: 25%;" onkeyup="" class="x-padding x-right x-center x-input x-animate-input x-border x-round-xxlarge" placeholder="&#128269;" type="" name="">
			</span>
		</header>
		<br>

		 <!-- CONTENT BODY ---------------------------------------- -->
		<div class="x-container"  style="padding-left: 10%;padding-right: 10%;">
			<div class="body_content x-padding x-round" style="display:block;">
				{% include 'home/dashboard1.html' %}
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/profiling.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/fmi.html' %}
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/activities.html' %}
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/fund_tracker.html' %}
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/documents.html' %}
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/newsletters.html' %}		
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/data_capture_forms.html' %}		
				<!-- {% include 'home/maintenance.html' %} -->
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/settings.html' %}		
				<!-- {% include 'home/maintenance.html' %} -->
			</div>
		</div>
	</body>
	<style>
		#conso1_chart {
			width: 100%;
			height: 100vh;
		}
	</style>
	<script type="text/javascript">
		let ALL_DATA = undefined
		let ALL_DATA_CONSO = {}

		function logout() {
			redirectto("/logout")
		}

		function __init__(){
			// conso()
			var tab_id = (window.location.href).split("#")[1]
			go_tab(parseInt(tab_id))
		}

		function conso(){
			$send({
				action : '/api/conso',
				method : POST,
				func : function (res) {
					ALL_DATA = JSON.parse(res)
					// dash_conso1(ALL_DATA)
					// get_farmer_cards()
					// $show_view('profile-farmer','content-dash')/////////////////////////////
					
				}
			})
		}

		function go_tab(_index){
			var tabs = $CLASS("top_tab")
			var body_content = $CLASS("body_content")  // FOR BODY CONTENT
			for (var i = 0; i < tabs.length; i++) {
				tabs[i].classList.remove("x-bottombar","x-border-teal")
				body_content[i].style.display = "none"  // FOR BODY CONTENT
			}
			tabs[_index].classList.add("x-bottombar","x-border-teal")
			body_content[_index].style.display = "block" // FOR BODY CONTENT

			redirectto("#"+_index)

		}

		// var mapid_reg = load_map('mapid_reg') // USER ACC Map


		function load_map(ids){
			var marker = undefined
			let latlong_line_ls = []
			let _MAP = undefined
			let cur_loc = {"lat":7.060377702562426,"lng":125.55474053778968}
			
			_MAP = L.map(ids).setView([cur_loc.lat, cur_loc.lng], 13);
			L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
				attribution: '<button id="dti_map_btn" class="x-btn x-green" onclick="set_line(this)">DTI RAPID GROWTH</button>',
				maxZoom: 18,
				id: 'mapbox/streets-v11',
				// tileSize: 670,
				// // tileSize: 512,
				// zoomOffset: -1,
				accessToken: 'pk.eyJ1IjoiZGlvYW1lIiwiYSI6ImNrbGo1ZDc1aDAxZTQybnBoc2tpZGcxOWoifQ.90lp0SPxVC4Kz113q_Wn9g'
			}).addTo(_MAP);
			
			_MAP.setView([cur_loc.lat, cur_loc.lng], 13);


			// var popup = L.popup();

			function onMapClick(e) {
				if(marker != undefined){_MAP.removeLayer(marker)}
				marker = L.marker(e.latlng).addTo(_MAP);
				latlong_line_ls.push([e.latlng.lat,e.latlng.lng])
				marker.on('click',function(__map){
					println(__map)
				})
			}

			_MAP.on('click', onMapClick);
			return _MAP
		}



		function set_line(a_l){
			a_l.parentNode.querySelectorAll("a").innerText= "--"
			println(a_l.parentNode.querySelectorAll("a"))
			var polyline =L.polyline(latlong_line_ls,{
                color: 'blue',
                weight: 12,
                // opacity: 0.5,
                // smoothFactor: 1
            }).addTo(_MAP)
			// MAP.fitBounds(latlong_line_ls)
			// MAP.fitBounds(polyline.getBounds())
		}
	</script>	
</html>
