<!DOCTYPE html>
<html>
	{% include 'head.html' %}
	<body class="x-light-grey" onload="__init__()">
		<header class="x-white x-container x-border" style="padding-left: 10%;padding-right: 10%;">
			<div class="">
				<div class="x-container x-col l6 ">
					<img src="../static/img/rapidlogo1.jpg" class="x-image" style="max-width: 10%;">
				</div>
				<div class="x-container x-padding-large x-col l6 ">
					<div class="x-container">
						<img src="../static/img/user.png" class="x-img x-circle x-right" style="max-width:7%">
						<span class="x-container x-right">
							<button class="x-btn x-border x-round" onclick="logout()"> <span class="x-text-red fa fa-power-off"></span> Logout</button>
							<button class="x-btn x-border x-round"> <span class="x-text-yellow fa fa-cog"></span> Settings</button>
						</span>
					</div>
				</div>
			</div>
		</header>
		<header class="x-white x-container" style="padding-left: 10%;padding-right: 10%;">
			<span class="">
				<button style="display:none" class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(0)">
					<b class="x-text-teal fa fa-home"></b>&nbsp;&nbsp; Home
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(1)">
					<b class="x-text-teal fa fa-users"></b>&nbsp;&nbsp; Profiling
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(2)">
					<b class="x-text-teal fa fa-map-signs"></b>&nbsp;&nbsp; FMI
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(3)">
					<b class="x-text-teal fa fa-calendar-check-o"></b>&nbsp;&nbsp; Activities
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(4)">
					<b class="x-text-teal fa fa-money"></b>&nbsp;&nbsp; Fund Tracker
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(5)">
					<b class="x-text-teal fa fa-book"></b>&nbsp;&nbsp; Documents/Archive
				</button>
				<button style="display:none" class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(6)">
					<b class="x-text-teal fa fa-newspaper-o"></b>&nbsp;&nbsp; Newsletters
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(7)">
					<b class="x-text-teal fa fa-newspaper-o"></b>&nbsp;&nbsp; Data Capture Forms
				</button>
				<button class="top_tab x-button _x-round-large x-padding-large x-text-black" onclick="go_tab(8)">
					<b class="x-text-teal fa fa-cog"></b>&nbsp;&nbsp; Settings
				</button>
			</span>
			<span class="x-right x-padding">
				<input style="width: 25%;" onkeyup="" class="x-padding x-right x-center x-input x-animate-input x-border x-round-xxlarge" placeholder="&#128269;" type="" name="">
			</span>
		</header>
		<br>

		 <!-- CONTENT BODY ---------------------------------------- -->
		<div class="x-container"  style="padding-left: 10%;padding-right: 10%;">
			<div class="body_content x-padding x-round" style="display:block;">
				{% include 'home/dashboard1.html' %}
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/profiling.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/fmi.html' %}
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/activities.html' %}
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/fund_tracker.html' %}
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/documents.html' %}
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/newsletters.html' %}		
				{% include 'home/maintenance.html' %}
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/data_capture_forms.html' %}		
				<!-- {% include 'home/maintenance.html' %} -->
			</div>
			<div class="body_content x-padding x-round" style="display:none;">
				{% include 'home/settings.html' %}		
				<!-- {% include 'home/maintenance.html' %} -->
			</div>
		</div>
		<br>
		<footer class="x-footer x-container x-light-grey">
			<span class="x-small x-text-grey x-left">DTI RAPID NPCO 2022 | All Right Reserve</span>
			<span class="x-small x-text-grey x-right">DTI RAPID NPCO 2022 | All Right Reserve</span>
		</footer>
	</body>
	<style>
		#conso1_chart {
			width: 100%;
			height: 100vh;
		}
	</style>
	<script type="text/javascript">

		_INIT_()
		async function _INIT_(){
			println(" * Initialized")
			await new Promise(init); // WAIT FOR n.. SECONDS
			function init(){
				load_users()
				set_ls_rcu()
				get_list_file() // For Inititalizing list in profiling/profiling_farmers.html
			}
		}
		// ================================================

		let ALL_DATA = undefined
		let ALL_DATA_CONSO = {}

		function logout() {
			redirectto("/logout")
		}

		function __init__(){
			// conso()
			var tab_id = (window.location.href).split("#")[1]
			go_tab(parseInt(tab_id))
		}

		function conso(){
			$send({
				action : '/api/conso',
				method : POST,
				func : function (res) {
					ALL_DATA = JSON.parse(res)
					// dash_conso1(ALL_DATA)
					// get_farmer_cards()
					// $show_view('profile-farmer','content-dash')/////////////////////////////
					
				}
			})
		}

		function go_tab(_index){
			var tabs = $CLASS("top_tab")
			var body_content = $CLASS("body_content")  // FOR BODY CONTENT
			for (var i = 0; i < tabs.length; i++) {
				tabs[i].classList.remove("x-bottombar","x-border-teal")
				body_content[i].style.display = "none"  // FOR BODY CONTENT
			}
			tabs[_index].classList.add("x-bottombar","x-border-teal")
			body_content[_index].style.display = "block" // FOR BODY CONTENT

			redirectto("#"+_index)

		}

		function staytuned(){
			var stay_tuned = $dialog({
				title : "Stay Tuned",
				type : "warning",
				subtitle : "Feature under Development",
				content : "Please stay tuned as we configure this feature for you. it wont take long",
			})

			stay_tuned.show()
		}


			// Tawk_API.visitor = {
			// 	'name' : "{{USER_DATA['name']}}",
			// 	'email' : "{{USER_DATA['name']}}",
			// 	'hash' :" {{USER_DATA['name']}}"
			// };
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		Tawk_API.onLoad = function(){
			Tawk_API.setAttributes({
				'name' : "{{USER_DATA['name']}}",
				'email': "{{USER_DATA['email']}}",
				'hash' : 'hash-value'
			}, function (error) {
				
			});

		};
		

		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/62f9c9c554f06e12d88ea549/1gafrob5j';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
			
			// alert(JSON.stringify(Tawk_API))
	</script>	
</html>
