
	<!-- End page content -->
<style type="text/css">
	#mapid { height: 700px; }
	:root {
		--map-tiles-filter: brightness(0.7) invert(2) contrast(3) hue-rotate(200deg) saturate(0.3) ;
	}

	@media (prefers-color-scheme: dark) {
		.map-tiles {
			filter:var(--map-tiles-filter, none);
		}
	}
</style>
<!-- ------------------------------------------------------------------------------ -->
<div class="x-container">
	<div class="x-col s6 m6 l6">
		<div id="map_cont" class="x-container x-round x-padding x-round-xlarge">
			<div id="mapid"></div>
		</div>
	</div>
</div>


<script type="text/javascript">
	// --------------------------------------------------
let marker = undefined
var h = undefined
let INIT_CENTER = {"lat":7.039734854223885,"lng":125.43367030805013}


var MAP = L.map('mapid').setView([51.505, -0.09], 13);
L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
// L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
	attribution: 'DTI RAPID GROWTH',
	maxZoom: 18,
	id: 'mapbox/streets-v11',
	className: 'map-tiles',
	tileSize: 512,
	zoomOffset: -1,
	accessToken: 'pk.eyJ1IjoiZGlvYW1lIiwiYSI6ImNrbGo1ZDc1aDAxZTQybnBoc2tpZGcxOWoifQ.90lp0SPxVC4Kz113q_Wn9g'// Default 
	// accessToken: 'PyTJUlEU1OPJwCJlW1k0NC8JIt2CALpyuj7uc066O7XbdZCjWEL3WYJIk6dnXtps'// Jawg 
}).addTo(MAP);

MAP.setView([INIT_CENTER.lat, INIT_CENTER.lng], 10);


marker = L.marker(INIT_CENTER).addTo(MAP);
marker.on('click', function(eta){
	println(eta)
});

// var popup = L.popup();

function 
(e) {
	// if(marker != undefined){MAP.removeLayer(marker)}
	// popup.setLatLng(e.latlng).setContent("You clicked the map at " + e.latlng.toString()).openOn(MAP);

	// marker = L.marker(INIT_CENTER).addTo(MAP);

	// println(e.latlng.lat + " --- "+e.latlng.lng)
	// $.get('https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat='+e.latlng.lat+'&lon='+e.latlng.lng, function(data){
	// 	console.log(data.address);
	// 	// $ID("reg_business_address").value = data.address.region + ', ' +data.address.state
	// 	// $ID("reg_muni").value = data.address.city
	// 	var addr = 
	// 		 String(data.address.village + "," ).replace("undefined,",'')
	// 		+String(data.address.neighbourhood+",").replace("undefined,",'')
	// 		+String(data.address.quarter+",").replace("undefined,",'')
	// 		+String(data.address.suburb+",").replace("undefined,",'')
	// 		+String(data.address.road + ",").replace("undefined,",'')
	// 		+String(data.address.tourism + ",").replace("undefined,",'')
	// 		+String(data.address.leisure + ",").replace("undefined,",'')
	// 		+String(data.address.state + ",").replace("undefined,",'')
	// 		+String(data.address.region + ",").replace("undefined,",'')
	// 		+String(e.latlng.lat +","+e.latlng.lng+ ",").replace("undefined,",'')
	// 	// $ID("reg_brgy").value = addr.split("undefined ,").join("")
	// 	$ID("address").value = addr
	// 	// $ID("address").value = addr.replaceAll("undefined,","")
	// });
}
MAP.on('click', onMapClick);

</script>
				<!-- <div id="conso1_chart"></div>
				<span class="x-tiny" id="res"></span> -->