				<div class="x-container x-row " onload="alert()">

					<div class="x-leftbar x-border-teal x-padding x-col l2">
						<span class=" x-text-grey">
							<b class="x-text-teal fa fa-users"></b>Profiling Overview<br>
						</span>
						<span class="x-large">Profiling</span></span>
						<hr>
						<div class="x-row">
							<button class="profile_top_tab x-hover-teal x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="profile_go_tab(0)">
								<b>Profile Dashboard</b>
							</button>
							<button class="profile_top_tab x-hover-teal x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="profile_go_tab(1)">
								Farmer Profiles
							</button>
							<button class="profile_top_tab x-hover-teal x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="profile_go_tab(2)">
								Farmers Organization 
							</button>
							<button class="profile_top_tab x-hover-teal x-button x-small _x-round-large x-padding x-text-black x-left-align" style=";white-space: normal;word-wrap: break-word;" onclick="profile_go_tab(3)">
								MSME
							</button>
						</div>
					</div>
					<br>
					<div class="x-col l10 profile_body_content" style="display:none">
						{% include 'home/profiling/profiling_dashboard.html' %}
					</div>
					<div class="x-col l10 profile_body_content" style="display:none">
						{% include 'home/profiling/profiling_farmers.html' %}
					</div>
					<div class="x-col l10 profile_body_content" style="display:none">
						{% include 'home/no_data.html' %}
					</div>
					<div class="x-col l10 profile_body_content" style="display:none">
						{% include 'home/no_data.html' %}
					</div>
				</div>
				<!-- <img loading="lazy" src="`+prof_pic+`" class="x-image" style="max-width:100%"> --> <!-- FOR BASE64 IMG REQUEST on get_profile() function -->
				<script type="text/javascript">

					profile_go_tab(0)
					// profile_go_tab(4) //USER ACCOUNTS

					let ls_file_farmer = undefined

					function profile_go_tab(_index){
						var tabs = $CLASS("profile_top_tab")
						var profile_body_content = $CLASS("profile_body_content")  // FOR BODY CONTENT
						for (var i = 0; i < profile_body_content.length; i++) {
							tabs[i].classList.remove("x-leftbar","x-border-teal","x-pale-green")
							profile_body_content[i].style.display = "none"  // FOR BODY CONTENT
						}
						tabs[_index].classList.add("x-leftbar","x-border-teal","x-pale-green")
						profile_body_content[_index].style.display = "block" // FOR BODY CONTENT
					}

				</script>
				<!-- <div id="conso1_chart"></div>
				<span class="x-tiny" id="res"></span> -->