app_version.txt
app-debug.apk
__pycache__/
controllers/__pycache__/
modules/__pycache__/
views/__pycache__/
assets/DB/dti_rapidxi.db
assets/records/
app-debug.apk
app_version.txt
app_version.txt
app_version.txt
app_version.txt
*.db
*.pyc
assets/DB/dti_rapidxi.db
assets/DB/dti_rapidxi.db
*.pyc
*.pyc
*.pyc
*.pyc
views/__pycache__/login.cpython-310.pyc
