<div class="x-row x-center">
	<span class="x-text-grey x-small">
		Page - 
		<span id="page_fo_num">-</span>
	</span>
</div>
<div class="x-container x-padding ">
	<button class="x-round-large x-btn x-blue x-right" onclick="form_b_next()">
		Next <span class="fa fa-arrow-right"></span>
	</button>
	<button class="x-round-large x-btn x-blue x-left" onclick="form_b_prev()">
		<span class="fa fa-arrow-left"></span> Prev
	</button>
</div>
<hr>

<div class="form_b_1 x-container x-row">
	{% include 'home/profiling/sub_forms_b/B1-Respondents.html' %}
</div>

<!-- =================================================================================== -->
<div class="form_b_1 x-container x-row" style="display: None;">
	{% include 'home/profiling/sub_forms_b/B2-Organizational.html' %}
</div>
<!-- =================================================================================== -->
<div class="form_b_1 x-container x-row" style="display: None;">
	{% include 'home/profiling/sub_forms_b/B3-Operational.html' %}
</div>
<!-- =================================================================================== -->
<div class="form_b_1 x-container x-row" style="display: None;">
	{% include 'home/profiling/sub_forms_b/B4-FoGovernance.html' %}
</div>
<!-- =================================================================================== -->
<div class="form_b_1 x-container x-row" style="display: None;">
	{% include 'home/profiling/sub_forms_b/B5-Administrative.html' %}
</div>
<!-- =================================================================================== -->
<div class="form_b_1 x-container x-row" style="display: None;">
	{% include 'home/profiling/sub_forms_b/B6-Capacity.html' %}
</div>
<!-- =================================================================================== -->
<div class="form_b_1 x-container x-row" style="display: None;">
	{% include 'home/profiling/sub_forms_b/B7-Partnership.html' %}
</div>


<!-- +++++++++++++++++++++++++++++++++++++++++++  +++++++++++++++++++++++++++++++++++++++++++++++++ -->
<hr>
<div class="x-row x-center">
	<span class="x-text-grey x-small">
		Page - 
		<span id="page_fo_num">-</span>
	</span>
</div>
<div class="x-container x-padding ">
	<button class="x-round-large x-btn x-blue x-right" onclick="form_b_next()">
		Next <span class="fa fa-arrow-right"></span>
	</button>
	<button class="x-round-large x-btn x-blue x-left" onclick="form_b_prev()">
		<span class="fa fa-arrow-left"></span> Prev
	</button>
</div>
