		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			
			<ul class="navbar-nav mx-auto ">

				<li class="nav-item dropdown pr-2">
						<a class="nav-link dropdown-toggle " href="whatWedo.html" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							What we do
						</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoDD.html">Development Direction</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoDAB.html">Direction Assistance to Beneficiaries</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoIS.html">Institutional Strengthening</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoFSP.html">Technical Assistance to Financial Service Providers (FSPs)</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoPM.html">Project Management</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoRBM.html">RAPID Business Model</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoVC.html">Value Chain</a>
					</div>
				</li>

				<li class="nav-item dropdown pr-2">
						<a class="nav-link dropdown-toggle " href="/rapid/whoweare/whoweareHistory.html" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Who we are
						</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/rapid/whoweare/whoWeareHistory.html">History</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoWeareMMV.html">Mandate, Mission & Vission</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoWeareORG.html">Organization</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoWeareGOV.html">Governance</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoWeareFIN.html">Finances</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoWeareFP.html">Fundamental Principles</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoWeareWR.html">Working for RAPID</a>
					</div>
				</li>

				<li class="nav-item dropdown pr-2">
						<a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Where we work
						</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkEV.html">EASTERN VISAYAS</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkZP.html">ZAMBOANGA PENINSULA</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkNM.html">NORTHERN MINDANAO</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkDV.html">DAVAO</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkSOC.html">SOCCSKSARGEN</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkCAR.html">CARAGA</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkBARMM.html">BARMM</a>

					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link disabled" href="#">News & Stories</a>
				</li>

				<li class="nav-item ">
					<a class="nav-link " href="/rapid/knowledgecenter/knowledgeCenter.html" id="navbarDropdownMenuLink">
							Knowledge
					</a>
					<!-- <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/rapid/knowledgecenter/knowledgeCenter.html" >Overview</a>
						<a class="dropdown-item" href="/rapid/knowledgecenter/knowledgeCenter.html">Knowledge Products</a>
						<a class="dropdown-item" href="/rapid/knowledgecenter/knowledgeCenter.html">Templates</a>
						<a class="dropdown-item" href="/rapid/knowledgecenter/knowledgeCenter.html">Tools &  Guidelines</a>
						
					</div> -->
				</li>


			</ul>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link fs-5" data-bs-toggle="modal" data-bs-target="#loginModal" onclick="window.location.href='http://dtirapid.ph'">Login</a>
				</li>
			</ul>
		</div>