<div class=" x-container x-white">


	<div class="x-container">
		<h3 class="x-text-teal x-left">MSME Profiles</h3>


		<p class="x-padding x-text-teal x-right">
			<b class="x-text-orange" onclick="get_list_file_msme()">
				Refresh <span class="fa fa-refresh fa-spin"></span>
			</b>
		</p>
	</div>
	<div class="x-row">
		<div class="x-bottombar x-border-teal x-row">
			
			<div class="x-btn x-left x-container ">
				<i class="x-text-grey">
					<b id="prof_msme_count">0</b> Profiles Found ||
					 <span id="scan_view"><span id="scan_item"></span>/</span>
					<b id="prof_msme_count_all">0</b> total records
				</i>
				<br>
			</div>
			<!-- <div class="x-button x-right x-text-orange x-hover-orange" onclick="export_msme_excel()">
				<b>Export Data</b> | <span class="fa fa-download"></span>
			</div>
			<div class="x-button x-right x-text-blue x-hover-blue" onclick="import_msme_excel()">
				<b>Import Spreadsheet</b> | <span class="fa fa-upload"></span>
			</div> -->
			<div class="x-button x-right x-green" onclick="add_msme_profile()">
				<b>Add MSME Profile</b> | <span class="fa fa-users"></span>
			</div>
		</div>
	</div>
	
	<div class="x-row">
		{% include 'home/no_data.html' %}
	</div>
</div>
<script type="text/javascript">
	var f_c ;
	function add_msme_profile(){
		var msme_id = gen_code(48)
		println(msme_id)
		f_c = $dialog({
			title : "VC Profiling Form C",
			subtitle : "Add entry for VC Profiling Form C",
			content : (`
				<div class="x-container x- row">
					<div class="x-container x-col l3 m3">
						<button class="x-btn x-block x-teal" onclick="show_sub_form_msme_profile('/resp_prof')">
							<span class="x-left"><b>C-1</b> Respondent’s Profile</span>
						</button>
						<br>
						<button class="x-btn x-block x-teal" onclick="show_sub_form_msme_profile('/business_info')">
							<span class="x-left"><b>C-2</b> Business Information</span>
						</button> 
						<br>
						<button class="x-btn x-block x-teal" onclick="show_sub_form_msme_profile('/ciboasn')">
							<span class="x-left"><b>C-3</b> Business Operations and Support</span>
						</button>
					</div>
					<input class="form_data_c" id="MSME_ID" value="`+msme_id+`" hidden>
					<div id="sub_form_c" class="x-container x-col l9 m9" style="overflow-y:scroll;height: 70vh;">
						<div class="x-center x-container x-padding">
							<br><br><br><br>
							<h2 class="x-text-teal"><b> No Sub-form for Form C is Selected</b></h2>
							<span class='text-grey'>
								Please select sub form list for Profiling Form C from the left to edit or fill the data
							</span>
						</div>
					</div>
				</div>`),
			buttons : ["Save","Exit"],
			buttons_actions : [get_all_data]
		})
		// f_c.style.min_width = "80vw";
		f_c.dialog.style.width = "70vw";
		f_c.show();
	}

	function show_sub_form_msme_profile(url){
		$send({
			action : "_formc/"+url,
			method : GET,
			func : function(e){
				var _submit_btn = (`

				`)
				$ID("sub_form_c").innerHTML = e;
				$ID("sub_form_c").querySelectorAll("div")[0].style.width="100%"
			}
		})
	}

	function get_all_data(){
		var form_data_c = {}
		var MSME_ID = $ID("MSME_ID").value
		var form_c_fields = $ID("sub_form_c").querySelectorAll(".form_data_c")
		// var form_c_fields = $ID("sub_form_c").querySelectorAll(".form_data_c")
		for (var i = 0; i < form_c_fields.length; i++) {
			form_data_c[form_c_fields[i].id] = form_c_fields[i].value
		}
		form_data_c['MSME_ID'] = MSME_ID;
		println(form_data_c)
	}
	// =====
</script>