						<style>
							#chartdiv {
								width: 100%;
								height: 500px;
							}
						</style>

						<div class=" x-row x-white">
							<div class="x-container x-row">
								<h3 class="x-padding x-text-teal">Dashboard</h3>
								<b class="x-padding x-text-teal">Profiling</b>
							</div>
							<hr>
							<div class="x-container x-row">
								<div class="x-container x-col l2 x-padding">
									<div class="x-container x-center x-padding x-round-large x-teal">
										<b id="total_num_farmer" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
										<span class="x-small">Number of Profiles in New Platform</span>
									</div>
									<div class="x-container x-padding x-round-larg">
										<span class="x-text-grey">Male :<span class="x-text-black" id="count_all_male"><span class="fa fa-notch fa spin"></span></span></span><br>
										<span class="x-text-grey">Female :<span class="x-text-black" id="count_all_female"><span class="fa fa-notch fa spin"></span></span></span><br>
										<span class="x-text-grey">Untagged :<span class="x-text-black" id="count_all_sex_untagged"><span class="fa fa-notch fa spin"></span></span></span><br>
									</div>
								</div>
								<div class="x-container x-col l10 x-padding">
									<div id="chartdiv"></div>
								</div>
							</div>
						</div>


						<script type="text/javascript">


							function conso_all(){
								var count_all_male = 0
								var count_all_female = 0
								var count_all_sex_untagged = 0
								var dash_conso = {}
								var category = {}

								// $ID("count_all_male").innerHTML = 0
								// $ID("count_all_female").innerHTML = 0
								// $ID("count_all_sex_untagged").innerHTML = 0

								$ID("total_num_farmer").innerHTML = 0

								for (var count = 0; count < ALL_FARMERS.length+1; count++) {
									var FARMER = ALL_FARMERS[count]
									$ID("total_num_farmer").innerHTML = count -1
									try{
										FARMER['addr_region'] = FARMER['addr_region'].replace(" ","")
										if(FARMER['addr_region']==""){
											FARMER['addr_region'] = "Untagged"
										}

										if(("Region: "+FARMER['addr_region']) in dash_conso){} //if wala pay region sa list
										else{
											dash_conso[("Region: "+FARMER['addr_region'])] = {}
										}
									}catch(e){
										println(e)
									}

									try{
										if(FARMER['farmer-primary_crop'] in dash_conso[("Region: "+FARMER['addr_region'])] ) {} //if wala pay VC sa list
										else{
											dash_conso[("Region: "+FARMER['addr_region'])][FARMER['farmer-primary_crop']] = 0
											dash_conso[("Region: "+FARMER['addr_region'])]["category"] = ("Region: "+FARMER['addr_region'])
										}
									}catch(e){
										println(e)
									}

									try{
										dash_conso[("Region: "+FARMER['addr_region'])][FARMER['farmer-primary_crop']] +=1
									}catch(e){}

									try{
										category[FARMER['farmer-primary_crop']] = 'none'
									}catch(e){}


									try{
										if(FARMER['farmer_sex']=='Female'){
											count_all_female += 1
											dash_conso[FARMER['farmer-primary_crop']]['female'] += 1
										}
										if(FARMER['farmer_sex']=='Male'){
											count_all_male += 1
											dash_conso[FARMER['farmer-primary_crop']]['male'] += 1
										}

									}
									catch(e){
										println(e)
										count_all_sex_untagged += 1
									}


								}
								var ff = count_all_female -1
								var mm = count_all_male - 1
								$ID("count_all_male").innerHTML = mm
								$ID("count_all_female").innerHTML = ff
								$ID("count_all_sex_untagged").innerHTML = (""+((mm+ff) -(ALL_FARMERS.length))).replace("-","")
								// $ID("count_all_sex_untagged").innerHTML = count_all_female

								println(dash_conso)
								var data_for_chart = []
								for(key in dash_conso){
									data_for_chart.push(dash_conso[key])
								}
								chart.dispose()
								root.dispose()
								chart = undefined
								root = undefined
								chart_gender_vc(data_for_chart,category)

							}

							let chart, root
							chart_gender_vc([{
								category : "Loading",
								male : "100",
								female : "100",
								_male : "100",
								_female : "100",

							}])

							function chart_gender_vc(__data,__category){
								println(__data)
								am5.ready(function() {

									// Create root element
									// https://www.amcharts.com/docs/v5/getting-started/#Root_element
									root = am5.Root.new("chartdiv");


									// Set themes
									// https://www.amcharts.com/docs/v5/concepts/themes/
									root.setThemes([
										am5themes_Animated.new(root)
									]);


									// Create chart
									// https://www.amcharts.com/docs/v5/charts/xy-chart/
									chart = root.container.children.push(am5xy.XYChart.new(root, {
										panX: false,
										panY: false,
										wheelX: "panY",
										wheelY: "zoomY",
										layout: root.verticalLayout
									}));

									// Add scrollbar
									// https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
									chart.set("scrollbarY", am5.Scrollbar.new(root, {
										orientation: "vertical"
									}));

									var data = __data


									// Create axes
									// https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
									var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
										categoryField: "category",
										renderer: am5xy.AxisRendererY.new(root, {}),
										tooltip: am5.Tooltip.new(root, {})
									}));

									yAxis.data.setAll(data);

									var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
										min: 0,
										renderer: am5xy.AxisRendererX.new(root, {})
									}));


									// Add legend
									// https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
									var legend = chart.children.push(am5.Legend.new(root, {
										centerX: am5.p50,
										x: am5.p50
									}));


									// Add series
									// https://www.amcharts.com/docs/v5/charts/xy-chart/series/
									function makeSeries(name, fieldName) {
										var series = chart.series.push(am5xy.ColumnSeries.new(root, {
											name: name,
											stacked: true,
											xAxis: xAxis,
											yAxis: yAxis,
											baseAxis: yAxis,
											valueXField: fieldName,
											categoryYField: "category"
										}));

										series.columns.template.setAll({
											tooltipText: "{name} {valueX}",
											// tooltipText: "{name}, {categoryY}: {valueX}",
											tooltipY: am5.percent(90)
										});
										series.data.setAll(data);

										// Make stuff animate on load
										// https://www.amcharts.com/docs/v5/concepts/animations/
										series.appear();

										series.bullets.push(function () {
											return am5.Bullet.new(root, {
												sprite: am5.Label.new(root, {
													text: "{valueX}",
													fill: root.interfaceColors.get("alternativeText"),
													centerY: am5.p50,
													centerX: am5.p50,
													populateText: true
												})
											});
										});

										legend.data.push(series);
									}

									for(key in __category){
										makeSeries(key, key);
									}


									// Make stuff animate on load
									// https://www.amcharts.com/docs/v5/concepts/animations/
									chart.appear(1000, 100);

								}); // end am5.ready()
							}
						</script>