						<div class=" x-col l6 x-white">
							<div>
								<h3 class="x-padding x-text-teal">Profile List</h3>
							</div>
							<div class="x-padding x-container x-bottombar x-border-teal">
								<i class="x-text-grey">Displaying <b id="prof_farmer_count">0</b> File/s</i>
							</div>
							<div id="profile_list" class="" style="overflow-y:scroll; max-height: 80vh;">
								------- List Of Profiles ------
							</div>
						</div>
						<div class="x-col l6 x-white">
							<h3 class="x-padding x-text-teal">Profile Information</h3>
							<div class="x-container">
								
							</div>
						</div>

						<script type="text/javascript">

							function get_profile(_file_name,total_recors_farmer, f_FILE){
								var total_recors_farmer_counter = 1
								$send({
									action:"/get_profile",
									method: POST,
									data : $DATA({"profile_file_name":_file_name}),
									func : function(res){
										var file_profile = JSON.parse(res)
										// println(file_profile)
										// var person = file_profile.profile
										var person = file_profile
										var prof_pic = person.farmer_img_base64
										if(prof_pic=="" || prof_pic==" " || prof_pic==undefined){
											prof_pic = "../static/img/user.png"
										}
										// println(person)
										$ID("profile_list").innerHTML += `
											<div class="x-row x-hover-teal x-padding" id="`+person.farmer_code+`" onclick="get_ind('`+person.farmer_code+`')">
												<div class="x-col l1">
													<img loading="lazy" id="img_`+person.farmer_code+`" src="`+prof_pic+`" class="x-image x-round" style="max-width:100%">
												</div>
												<div class="x-col l3 x-container">
													<b class="">`+person.farmer_name+`</b><br>
													<span class="x-tiny">
														<span>`+person.addr_street_purok_sitio+`</span> 
														<span>`+person.addr_city+`</span> 
														<span>`+person.addr_prov+`</span> 
														<span>R:`+person.addr_region+`</span> 
														</span><br>
												</div>
												<div class="x-col l3 x-container">
													<i class=""><span>`+person["farmer-primary_crop"]+`</span> </i><br>
													<span class="x-tiny">-----</span><br>
												</div>
												<div class="x-col l4 x-container x-center">
													<span class="x-tiny">Form Completion</span><br>
													<b class="x-large">--%</b><br>
												</div>
											</div>`
										if(total_recors_farmer_counter==total_recors_farmer ){
											$ID("prof_farmer_count").innerHTML = total_recors_farmer_counter
											// alert("Done Loading ["+total_recors_farmer_counter+"] files")
											get_prof_imgs(f_FILE)
										}
										total_recors_farmer_counter+= 1
									}
								})
							}

							function get_ind(fid){
								println(fid)
								$send({
									action : "/get_full_profile",
									data : $DATA({"profile_file_name":fid+".json"}),
									method : POST,
									func : function (res) {
										var ind_data = JSON.parse(res)
										println(ind_data)
									}
								})
							}

							function get_prof_imgs(ls_file){  // Lazy Load for Profile Images After profrile list completely lodaded
								for (var i = 0; i < ls_file.length; i++) {
									$send({
										action : "/api/get_imgProf/"+ls_file[i],
										method : POST,
										func : function(res) {
											var im_res = JSON.parse(res)
											var ids_ = (im_res.f_name).split(".")[0]
											var prof_pic = im_res.base_64
											if(prof_pic=="" || prof_pic==" " || prof_pic==undefined){
												prof_pic = "../static/img/user.png"
											}
											$ID("img_"+ids_).src = prof_pic
										}
									})
								}
							}

							function get_user(_file_name){
								$send({
									action:"/get_profile",
									method: POST,
									data : $DATA({"profile_file_name":_file_name}),
									func : function(res){
										var file_profile = JSON.parse(res)
										println(file_profile)
										var person = file_profile.profile
										var prof_pic = person.farmer_img_base64
										if(prof_pic=="" || prof_pic==" " || prof_pic==undefined){
											prof_pic = "../static/img/user.png"
										}
										println(person)
										$ID("profile_list").innerHTML += `
											<div class="x-row x-padding" id="`+person.farmer_code+`">
												<div class="x-col l1">
													<img loading="lazy" src="`+prof_pic+`" class="x-image" style="max-width:100%">
												</div>
												<div class="x-col l3 x-container">
													<b class="">`+person.farmer_name+`</b><br>
													<span class="x-tiny">
														<span>`+person.addr_street_purok_sitio+`</span> 
														<span>`+person.addr_city+`</span> 
														<span>`+person.addr_prov+`</span> 
														<span>R:`+person.addr_region+`</span> 
														</span><br>
												</div>
												<div class="x-col l3 x-container">
													<i class=""><span>`+person["farmer-primary_crop"]+`</span> </i><br>
													<span class="x-tiny">-----</span><br>
												</div>
												<div class="x-col l4 x-container x-center">
													<span class="x-tiny">Form Completion</span><br>
													<b class="x-large">--%</b><br>
												</div>
											</div>`
									}
								})
							}
						</script>