<style>
	#chartdiv_MOBILE,#chartdiv_EXCEL, #_ph_map {
		/*width: 50%;*/
		height: 500px;
	}
</style>

<div class=" x-row x-white">

	<div class="x-container">
		<div class="x-padding x-text-teal x-left">
			<h3 class="x-padding x-text-teal">
				<span class="x-medium">Dashboard/Profiling/</span>
				
				<b class="x-text-teal">Farmers</b>
			</h3>
			<span class="x-padding x-text-teal">
				Data as of <b class="farmer_data_last_date">--/--/----</b> 
				(<span class="farmer_data_last_date_ x-small x-text-grey">--------</span>)
			</span>
			<b class="x-text-yellow x-round-large" onclick="farmer_data_refresh()"> Append Data <span class="x-small ">(Data Index Refresh)</span></b>
		</div>
		<p class="x-padding x-text-teal x-right">
			<b class="x-text-orange" onclick="get_list_file()">
				Refresh <span class="fa fa-refresh fa-spin"></span>
			</b>
		</p>
	</div>
	<hr>
	<div class="x-container x-row">
		<div class="x-container x-col l2 x-padding">
			<div class="x-container x-center x-padding x-round-large x-teal">
				<b id="total_num_farmer" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
				<span class="x-small">
					Number of Profiles <br>
					<b>New Excel Template</b> and 
					<b>Mobile MIS</b>
				</span>
			</div>
			<!-- TEMPORARY HIDDEN FOR DEV -->
			<div class="x-container x-padding x-round-larg" style="display:none"> 
				<span class="x-text-grey">Male :<span class="x-text-black" id="count_all_male"><span class="fa fa-notch fa spin"></span></span></span><br>
				<span class="x-text-grey">Female :<span class="x-text-black" id="count_all_female"><span class="fa fa-notch fa spin"></span></span></span><br>
				<span class="x-text-grey">Untagged :<span class="x-text-black" id="count_all_sex_untagged"><span class="fa fa-notch fa spin"></span></span></span><br>
			</div>
		</div>
		<div class="x-container x-col l2 x-padding">
			<div class="x-container x-center x-padding x-round-large x-border-dashed x-border-orange">
				<b id="total_num_farmer_with_dip" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
				<span class="x-small">
					Number of Profiles <br>
					<b>With DIP's</b>
				</span>
			</div>
		</div>
		<div class="x-container x-col l2 x-padding">
			<div class="x-container x-center x-padding x-round-large x-border-dashed x-border-blue">
				<b id="total_num_farmer_with_fo" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
				<span class="x-small">
					Number of Profiles <br>
					<b>With FO's</b>
				</span>
			</div>
		</div>
		<div class="x-container x-col l2 x-padding">
			<div class="x-container x-center x-padding x-round-large x-border-dashed x-border-green">
				<b id="total_num_farmer_head" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
				<span class="x-small">
					Number of Profiles <br>
					<b>Head of the Houshold</b>
				</span>
			</div>
		</div>
		<div class="x-container x-col l2 x-padding">
			<div class="x-container x-center x-padding x-round-large x-border-dashed x-border-green">
				<b id="total_num_farmer_geotagged" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
				<span class="x-small">
					<b class="x-small">Geotagged</b><br>
					<b class="x-tiny x-text-grey">That has Map Coordinates</b>
				</span>
			</div>
		</div>
	</div>
	<div class="x-container x-row">
		<div class="x-container x-half">
			<h3 class="x-padding x-text-teal">Bar Chart for Farmer Profiles</h3>
			<b class="x-padding x-text-teal">MIS Mobile App (AgriMismo)</b>
			<div id="chartdiv_MOBILE"></div>
		</div>
		<div class="x-container x-half ">
			<h3 class="x-padding x-text-teal">Bar Chart for Farmer Profiles</h3>
			<b class="x-padding x-text-teal">Bulk Uploading <i>New Spreadsheet Template</i></b>
			<div id="chartdiv_EXCEL"></div>
		</div>
	</div>
	<div>
		<div id="_ph_map"></div>
	</div>
</div>


<script type="text/javascript">
	let CONSO_LISTED_REGIONS = {}
	let CONSO_LISTED_PRIMARY_CROPS = {}
	let CONSO_LISTED_ENUMERATOR_AREA = {}

	let CONSO_LISTED_FO = {}
	let CONSO_LISTED_DIP = {}

	let data_for_chart_MOBILE = []
	let data_for_chart_EXCEL = []
	let data_for_chart_ALL = []
	let dash_conso = {}

	function conso_all(___ALL_FARMERS){
		dash_conso = {}
		var has_DIP = 0, has_fo = 0, has_IP=0 , has_geotag=0;
		var sex = {}
		var head_hh = {}
		var category_ALL = {}
		var category_MOBILE = {}
		var category_EXCEL = {}

		$ID("count_all_male").innerHTML = 0
		$ID("count_all_female").innerHTML = 0
		$ID("count_all_sex_untagged").innerHTML = 0

		$ID("total_num_farmer").innerHTML = 0

		for (var count = 0; count < ___ALL_FARMERS.length+1; count++) {
			var FARMER = ___ALL_FARMERS[count]
			$ID("total_num_farmer").innerHTML = count
			if(typeof(FARMER)=='undefined'){continue;} // IF UNDEFINED NAG ENTRY sa INDEX sa SKIP
			CONSO_LISTED_REGIONS[FARMER['addr_region']] = {}
			CONSO_LISTED_PRIMARY_CROPS[FARMER['farmer-primary_crop']] = {}
			CONSO_LISTED_ENUMERATOR_AREA[FARMER['input_by']['rcu']] = {}


			CONSO_LISTED_FO[FARMER['farmer-fo_name_rapid']]={}
			CONSO_LISTED_DIP[FARMER['farmer_dip_ref']]={}


			CONSO_LISTED_REGIONS = sortByKeys(CONSO_LISTED_REGIONS)
			CONSO_LISTED_PRIMARY_CROPS = sortByKeys(CONSO_LISTED_PRIMARY_CROPS)
			CONSO_LISTED_ENUMERATOR_AREA = sortByKeys(CONSO_LISTED_ENUMERATOR_AREA)
			CONSO_LISTED_FO = sortByKeys(CONSO_LISTED_FO)
			CONSO_LISTED_DIP = sortByKeys(CONSO_LISTED_DIP)

			// FARMER['addr_region'] = FARMER['addr_region'].replace(" ","")

			// if(FARMER['SOURCE']!="MOBILE"){continue;}// IF dili gikan sa MOIBLE > SKIP
			// if(FARMER['addr_region']==""){
			// 	FARMER['addr_region'] = "Untagged"
			// }
			var region_cons = "Region: "
			if(FARMER['SOURCE']=="NEW_EXCEL"){region_cons = "Region_ : "}

			if((region_cons+" "+FARMER['addr_region']) in dash_conso){} //if wala pay region sa list
			else{
				dash_conso[(region_cons+" "+FARMER['addr_region'])] = {}
			}

			if(FARMER['farmer-primary_crop'] in dash_conso[(region_cons+" "+FARMER['addr_region'])] ) {} //if wala pay VC sa list
			else{
				dash_conso[(region_cons+" "+FARMER['addr_region'])][FARMER['farmer-primary_crop']] = 0
				dash_conso[(region_cons+" "+FARMER['addr_region'])]["category"] = (region_cons+" "+FARMER['addr_region'])
			}

			dash_conso[(region_cons+" "+FARMER['addr_region'])][FARMER['farmer-primary_crop']] += 1
			dash_conso[(region_cons+" "+FARMER['addr_region'])]["SOURCE"] = FARMER['SOURCE']

			category_ALL[FARMER['farmer-primary_crop']] = 'none';
			if(FARMER['SOURCE']=="MOBILE"){category_MOBILE[FARMER['farmer-primary_crop']] = 'none';}// IF dili gikan sa MOIBLE > SKIP
			if(FARMER['SOURCE']=="NEW_EXCEL"){category_EXCEL[FARMER['farmer-primary_crop']] = 'none';}// IF dili gikan sa MOIBLE > SKIP

			// category_MOBILE[FARMER['farmer-primary_crop']] = 'none'
			if(!sex.hasOwnProperty(FARMER['farmer_sex'])){sex[FARMER['farmer_sex']] = 0}
			sex[FARMER['farmer_sex']] += 1

			if(FARMER['farmer-fo_name_rapid'] !="UNTAGGED"){has_fo +=1}
			if(FARMER['farmer_dip_ref'] !="UNTAGGED"){has_DIP += 1}

			if(FARMER['farmer-head_of_house'] in head_hh){} //if wala pay region sa list
			else{head_hh[(FARMER['farmer-head_of_house'])] = 0}
			head_hh[(FARMER['farmer-head_of_house'])] += 1

			if((FARMER['farmer-coords_long']== "" || FARMER['farmer-coords_lat']== " ") && (FARMER['farmer-coords_long']== "" || FARMER['farmer-coords_lat']== " ")){
				has_geotag += 1
			}
		}


		$ID("count_all_male").innerHTML = sex["Male"]
		$ID("count_all_female").innerHTML = sex["Female"]
		var diff = ""+((sex["Male"] + sex["Female"]) - count)
		$ID("count_all_sex_untagged").innerHTML = diff.replace("-","")

		for(key in dash_conso){
			if(dash_conso[key]["SOURCE"] == "NEW_EXCEL"){
				data_for_chart_EXCEL.push(dash_conso[key])
			}
			else{
			// if(dash_conso[key]["SOURCE"] == "MOBILE"){
				data_for_chart_MOBILE.push(dash_conso[key])
			}
			data_for_chart_ALL.push(dash_conso[key])
		}

		SPINNER_LOADER.hide()
		if(chart_MOBILE!=undefined){
			println(" -- Chart Clearing")
			chart_MOBILE.dispose()
			root_MOBILE.dispose()
			chart_MOBILE = undefined;
			root_MOBILE = undefined;
		}
		CHART_REGION_CROP_MOBILE(data_for_chart_MOBILE,category_MOBILE,"chartdiv_MOBILE")
		CHART_REGION_CROP_MOBILE(data_for_chart_EXCEL,category_EXCEL,"chartdiv_EXCEL")
		// CHART_REGION_CROP_MOBILE(data_for_chart_ALL,category_ALL,"chartdiv_MOBILE")
		// == For Filtering
		get_ls_region()
		get_ls_crops()
		get_ls_enum_area()
		get_ls_fo()
		get_ls_dip()
		get_ls_enum_area()
		
		$ID("total_num_farmer_geotagged").innerHTML = (has_geotag)
		$ID("total_num_farmer_with_dip").innerHTML = (has_DIP)
		$ID("total_num_farmer_with_fo").innerHTML = (has_fo)
		$ID("total_num_farmer_head").innerHTML = (head_hh["true"])
		println(head_hh)
	}



	let chart_MOBILE, root_MOBILE
	function CHART_REGION_CROP_MOBILE(__data,__category,chartdiv){
		am5.ready(function() {
			root_MOBILE = am5.Root.new(chartdiv);
			root_MOBILE.setThemes([
				am5themes_Animated.new(root_MOBILE)
			]);

			chart_MOBILE = root_MOBILE.container.children.push(am5xy.XYChart.new(root_MOBILE, {
				panX: false,
				panY: false,
				wheelX: "panY",
				wheelY: "zoomY",
				layout: root_MOBILE.verticalLayout
			}));

			chart_MOBILE.set("scrollbarY", am5.Scrollbar.new(root_MOBILE, {
				orientation: "vertical"
			}));

			var data = __data

			var yAxis = chart_MOBILE.yAxes.push(am5xy.CategoryAxis.new(root_MOBILE, {
				categoryField: "category",
				renderer: am5xy.AxisRendererY.new(root_MOBILE, {}),
				tooltip: am5.Tooltip.new(root_MOBILE, {})
			}));

			yAxis.data.setAll(data);

			var xAxis = chart_MOBILE.xAxes.push(am5xy.ValueAxis.new(root_MOBILE, {
				min: 0,
				renderer: am5xy.AxisRendererX.new(root_MOBILE, {})
			}));

			var legend = chart_MOBILE.children.push(am5.Legend.new(root_MOBILE, {
				centerX: am5.p50,
				x: am5.p50
			}));

			function makeSeries(name, fieldName) {
				var series = chart_MOBILE.series.push(am5xy.ColumnSeries.new(root_MOBILE, {
					name: name,
					stacked: true,
					xAxis: xAxis,
					yAxis: yAxis,
					baseAxis: yAxis,
					valueXField: fieldName,
					categoryYField: "category"
				}));

				series.columns.template.setAll({
					tooltipText: "{name} {valueX}",
					// tooltipText: "{name}, {categoryY}: {valueX}",
					tooltipY: am5.percent(90)
				});
				series.data.setAll(data);

				series.appear();

				series.bullets.push(function () {
					return am5.Bullet.new(root_MOBILE, {
						sprite: am5.Label.new(root_MOBILE, {
							text: "{valueX}",
							fill: root_MOBILE.interfaceColors.get("alternativeText"),
							centerY: am5.p50,
							centerX: am5.p50,
							populateText: true
						})
					});
				});

				legend.data.push(series);
			}

			for(key in __category){
				makeSeries(key, key);
			}

			// chart_MOBILE.appear(1000, 100);

		}); 
	}

	function farmer_data_refresh(){
		var ref_dialog = $dialog({
			title : "Data Index Refresh",
			subtitle : "You are about to perform D.I.R",
			type : "warning",
			content : "if you proceed, it can take A <b>LOT OF TIME</b> to index all records in the system but, you can minimize the loading screen and do other task.<br> <b>The System will notify you once it is done</b>",
			buttons : ["Proceed","No I'm not gonna do this"],
			buttons_actions :[
				function (){
					SPINNER_LOADER.show()
					SPINNER_LOADER.message("Performing <b>Data Index Refresh</b><br>Please wait or Minimized this loading screen")
					ref_dialog.destroy()
					$send({
						action : "/api/v2/set_farmer_chunk_data",
						method : POST,
						func : function () {
							SPINNER_LOADER.hide()
							$dialog({
								type : "success",
								title : "Data Index Refresh Done",
								subtitle : "Performing Data Index Refresh is done you can refresh this page or do it later",
								buttons : ["Refresh the entire page","Naahh, Maybe later"],
								buttons_actions : [function(){
									location.reload();
								}]
							}).show()
						}
					})
				}
			]
		})
		ref_dialog.show()
	}

// ===============================================================================
	// _ph_map() // MAP FOR DASHBOARD
	// function _ph_map(){
	// 	am5.ready(function() {

	// 		// Create root_MOBILE element
	// 		// https://www.amcharts.com/docs/v5/getting-started/#Root_element
	// 		var root_MOBILE = am5.Root.new("_ph_map");

	// 		// Set themes
	// 		// https://www.amcharts.com/docs/v5/concepts/themes/
	// 		root_MOBILE.setThemes([
	// 			am5themes_Animated.new(root_MOBILE)
	// 		]);

	// 		// Create the map chart_MOBILE
	// 		// https://www.amcharts.com/docs/v5/charts/map-chart_MOBILE/
	// 		var chart_MOBILE = root_MOBILE.container.children.push(am5map.MapChart.new(root_MOBILE, {
	// 			panX: "rotateX",
	// 			projection: am5map.geoMercator(),
	// 			layout: root_MOBILE.horizontalLayout
	// 		}));

	// 		var __map_codfe = {"response":{"country_code":"PH","country_name":"Philippines"}}
	// 		var geo = am5.JSONParser.parse(__map_codfe.response);
	// 		loadGeodata(geo.country_code);
	// 		// Create polygon series for continents
	// 		// https://www.amcharts.com/docs/v5/charts/map-chart_MOBILE/map-polygon-series/
	// 		var polygonSeries = chart_MOBILE.series.push(am5map.MapPolygonSeries.new(root_MOBILE, {
	// 			calculateAggregates: true,
	// 			valueField: "value"
	// 		}));

	// 		polygonSeries.mapPolygons.template.setAll({
	// 			tooltipText: "{name}",
	// 			interactive: true
	// 		});

	// 		polygonSeries.mapPolygons.template.states.create("hover", {
	// 			fill: am5.color(0x677935)
	// 		});

	// 		polygonSeries.set("heatRules", [{
	// 			target: polygonSeries.mapPolygons.template,
	// 			dataField: "value",
	// 			min: am5.color(0x8ab7ff),
	// 			max: am5.color(0x25529a),
	// 			key: "fill"
	// 		}]);

	// 		polygonSeries.mapPolygons.template.events.on("pointerover", function(ev) {
	// 			heatLegend.showValue(ev.target.dataItem.get("value"));
	// 		});

	// 		function loadGeodata(country) {

	// 			// Default map
	// 			var defaultMap = "usaLow";
				
	// 			if (country == "US") {
	// 				chart_MOBILE.set("projection", am5map.geoAlbersUsa());
	// 			}
	// 			else {
	// 				chart_MOBILE.set("projection", am5map.geoMercator());
	// 			}

	// 			// calculate which map to be used
	// 			var currentMap = defaultMap;
	// 			var title = "";
	// 			if (am5geodata_data_countries2[country] !== undefined) {
	// 				currentMap = am5geodata_data_countries2[country]["maps"][0];

	// 				// add country title
	// 				if (am5geodata_data_countries2[country]["country"]) {
	// 					title = am5geodata_data_countries2[country]["country"];
	// 				}
	// 			}
				
	// 			am5.net.load("https://cdn.amcharts.com/lib/5/geodata/json/" + currentMap + ".json", chart_MOBILE).then(function (result) {
	// 				var geodata = am5.JSONParser.parse(result.response);
	// 				var data = [];
	// 				for(var i = 0; i < geodata.features.length; i++) {
	// 					data.push({
	// 						id: geodata.features[i].id,
	// 						value: Math.round( Math.random() * 10000 )
	// 					});
	// 				}

	// 				polygonSeries.set("geoJSON", geodata);
	// 				polygonSeries.data.setAll(data)
	// 				println("polygonSeries.data.setAll(data)")
	// 				println(data)
	// 			});
				
	// 			chart_MOBILE.seriesContainer.children.push(am5.Label.new(root_MOBILE, {
	// 				x: 5,
	// 				y: 5,
	// 				text: title,
	// 				background: am5.RoundedRectangle.new(root_MOBILE, {
	// 					fill: am5.color(0xffffff),
	// 					fillOpacity: 0.2
	// 				})
	// 			}))

	// 		}

	// 		var heatLegend = chart_MOBILE.children.push(
	// 			am5.HeatLegend.new(root_MOBILE, {
	// 				orientation: "vertical",
	// 				startColor: am5.color(0x8ab7ff),
	// 				endColor: am5.color(0x25529a),
	// 				startText: "Lowest",
	// 				endText: "Highest",
	// 				stepCount: 5
	// 			})
	// 		);

	// 		heatLegend.startLabel.setAll({
	// 			fontSize: 12,
	// 			fill: heatLegend.get("startColor")
	// 		});

	// 		heatLegend.endLabel.setAll({
	// 			fontSize: 12,
	// 			fill: heatLegend.get("endColor")
	// 		});

	// 		// change this to template when possible
	// 		polygonSeries.events.on("datavalidated", function () {
	// 			heatLegend.set("startValue", polygonSeries.getPrivate("valueLow"));
	// 			heatLegend.set("endValue", polygonSeries.getPrivate("valueHigh"));
	// 		});

	// 	}); // end am5.ready()
	// }
</script>