<div class=" x-container x-white">


	<div class="x-container">
		<h3 class="x-text-teal x-left">MSME Profiles</h3>


		<p class="x-padding x-text-teal x-right">
			<b class="x-text-orange" onclick="get_list_file_msme()">
				Refresh <span class="fa fa-refresh fa-spin"></span>
			</b>
		</p>
	</div>
	<div class="x-row">
		<div class="x-bottombar x-border-teal x-row">
			
			<div class="x-btn x-left x-container ">
				<i class="x-text-grey">
					<b id="prof_msme_count">0</b> Profiles Found ||
					 <span id="scan_view"><span id="scan_item"></span>/</span>
					<b id="prof_msme_count_all">0</b> total records
				</i>
				<br>
			</div>
			<div class="x-button x-right x-text-orange x-hover-orange" onclick="export_msme_excel()">
				<b>Export Data</b> | <span class="fa fa-download"></span>
			</div>
			<div class="x-button x-right x-text-blue x-hover-blue" onclick="import_msme_excel()">
				<b>Import Spreadsheet</b> | <span class="fa fa-upload"></span>
			</div>
			<div class="x-button x-right x-green" onclick="add_msme_profile()">
				<b>Add MSME Profile</b> | <span class="fa fa-users"></span>
			</div>
		</div>
	</div>
	
	<div class="x-row">
		{% include 'home/no_data.html' %}
	</div>
	<div hidden>
	</div>
</div>
<script type="text/javascript">
	var f_c ;
	function add_msme_profile(){
		$send({
			action : "/resp_prof",
			method : GET,
			func : function(e){
				f_c = $dialog({
					title : "VC Profiling Form C",
					subtitle : "Add entry for VC Profiling Form C",
					content : (`
						<div class="x-container x- row">
							<div class="x-container x-col l3 m3">
								<button class="x-btn x-block x-teal" onclick="show_sub_form_msme_profile('/resp_prof')">
									Respondednt Profile
								</button>
								<button class="x-btn x-block x-teal" onclick="show_sub_form_msme_profile('/business_info')">
									Business Information
								</button>
								<button class="x-btn x-block x-teal" onclick="show_sub_form_msme_profile('/ciboasn')">
									Challenges
								</button>
							</div>
							<div id="sub_form_c" class="x-container x-col l3 m3">
								
							</div>
						</div>`)
				})
				// f_c.style.min_width = "80vw";
				f_c.dialog.style.width = "70vw";
				println(f_c.modal.title) 
				f_c.modal.title = " sample"
				f_c.show();
			}
		})
	}
	function show_sub_form_msme_profile(url){
		$send({
			action : "/resp_prof",
			method : GET,
			func : function(e){
				$ID("sub_form_c").innerHTML = e;
			}
		})
	}
	// sample edit
</script>