<div class=" x-container x-white">
	<div class="x-container">
		<h3 class="x-padding x-text-teal x-left">Profile List</h3>
		<p class="x-padding x-text-teal x-right">
			<b class="x-text-orange" onclick="get_list_file()">
				Refresh <span class="fa fa-refresh fa-spin"></span>
			</b>
		</p>
	</div>
	<div class="x-row">
		<div class="x-bottombar x-border-teal x-row">
			<div class="x-btn x-left x-container ">
				<i class="x-text-grey">
					<b id="prof_farmer_count">0</b> Profiles Found ||
					 <span id="scan_view"><span id="scan_item"></span>/</span>
					<b id="prof_farmer_count_all">0</b> total records
				</i>
			</div>
			<div class="x-button x-right x-text-orange x-hover-orange" onclick="export_farmer_excel()">
				<b>Export Data</b> | <span class="fa fa-download"></span>
			</div>
			<div class="x-button x-right x-text-blue x-hover-blue" onclick="import_farmer_excel()">
				<b>Import Spreadsheet</b> | <span class="fa fa-upload"></span>
			</div>
		</div>

		<div class="x-container x-padding x-border-dashed x-border-grey x-pale-teal">
			<div class="x-padding x-col l2 x-text-teal">
				<b>Area/Location</b>
			</div>
			<select id="dash_sel_region" class="x-input x-select x-col l2 x-light-grey x-round-xlarge" onchange="get_ls_prov(this.value)">
				<option type="" value="all" selected>All Region</option>
			</select>
			<select id="dash_sel_prov" class="x-input x-select x-col l2 x-light-grey x-round-xlarge" disabled onchange="get_ls_city(this.value)">
				<option type="" value="all" selected>All Provinces</option>
			</select>
			<select id="dash_sel_city" class="x-input x-select x-col l2 x-light-grey x-round-xlarge" disabled onchange="get_ls_brgy(this.value)">
				<option type="" value="all" selected>All Cities/Municipalities</option>
			</select>
			<select id="dash_sel_brgy" class="x-input x-select x-col l2 x-light-grey x-round-xlarge" disabled  onchange="get_ls_all_area(this.value)">
				<option type="" value="all" selected>All Brgy</option>
			</select>
			<button class="x-input x-btn x-col l1 x-green x-round-xlarge" onclick="conso_filters()">
				Filter <span class="fa fa-filter"></span>
			</button>
		</div>
		<div class="x-container x-padding x-border-dashed x-border-grey x-pale-teal">
			<div class="x-col l6">
				<div class="x-padding x-col l3 x-text-teal">
					<b>Primary Crop</b>
				</div>
				<select id="dash_sel_crop_primary" class="x-input x-select x-col l3 x-light-grey x-round-xlarge" onchange="get_ls_primary_crop(this.value)">
					<option type="" value="all" selected>All Crop</option>
				</select>
				<button class="x-input x-btn x-col l2 x-green x-round-xlarge" onclick="conso_filters()">
					Filter <span class="fa fa-filter"></span>
				</button>
			</div>
			<div class="x-col l6">
				<div class="x-padding x-col l3 x-text-teal">
					<b>Data Source</b>
				</div>
				<select id="dash_sel_data_source" class="x-input x-select x-col l3 x-light-grey x-round-xlarge" onchange="">
					<option type="" value="all" selected>All Data Source</option>
					<option type="" value="MOBILE">Mobile App</option>
					<option type="" value="NEW_EXCEL">Spreadsheet Template</option>
				</select>
				<button class="x-input x-btn x-col l2 x-green x-round-xlarge" onclick="conso_filters()">
					Filter <span class="fa fa-filter"></span>
				</button>
			</div>
		</div>
		<div class="x-container x-padding x-border-dashed x-border-grey x-pale-teal">
			<div class="x-col l6">
				<div class="x-padding x-col l3 x-text-teal">
					<b>Farmer's Org</b>
				</div>
				<select id="dash_sel_fo" class="x-input x-select x-col l3 x-light-grey x-round-xlarge">
					<option type="" value="all" selected>All</option>
				</select>
				<button class="x-input x-btn x-col l2 x-green x-round-xlarge" onclick="conso_filters()">
					Filter <span class="fa fa-filter"></span>
				</button>
			</div>
			<div class="x-col l6">
				<div class="x-padding x-col l3 x-text-teal">
					<b>DIP's</b>
				</div>
				<select id="dash_sel_dip" class="x-input x-select x-col l3 x-light-grey x-round-xlarge">
					<option type="" value="all" selected>All</option>
				</select>
				<button class="x-input x-btn x-col l2 x-green x-round-xlarge" onclick="conso_filters()">
					Filter <span class="fa fa-filter"></span>
				</button>
			</div>
		</div>
	</div>
	
	<div class="x-row">
		<div class="x-row x-padding">
			<i class="">This numbers are based on the records that has been <b class="x-text-blue x-pale-blue">SYNCED</b> from the Mobile App to the System and all <b class="x-text-blue x-pale-blue">VERIFIED</b> records from the uploaded Spreadsheet files. any <b class="x-text-red x-pale-red">Unsynced</b> records on the mobile app and all records from <b class="x-text-red x-pale-red">'On-System-Checking'</b> Spreadsheet files will not be counted</i>
		</div>


		<div class="x-container x-row x-padding">
			<div class="x-container x-col l6  x-padding">
				<div class="x-container x-center x-padding x-round-large x-border-dashed x-border-green">
					<div class="x-container x-col l4 x-padding">
						<div class="x-container x-center x-round-large">
							<b id="total_num_farmer_filter_male" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
							<span class="x-small">
								<b class="x-small">Male</b><br>
								<b class="x-tiny x-text-grey"> </b>
							</span>
						</div>
					</div>
					<div class="x-container x-col l4 x-padding">
						<div class="x-container x-center x-round-large">
							<b id="total_num_farmer_filter_female" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
							<span class="x-small">
								<b class="x-small">Female</b><br>
								<b class="x-tiny x-text-grey"> </b>
							</span>
						</div>
					</div>
					<div class="x-container x-col l4 x-padding">
						<div class="x-container x-center x-round-large x-text-grey">
							<b id="total_num_farmer_filter_untagged" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
							<span class="x-small">
								<b class="x-small">Untagged</b><br>
								<b class="x-tiny x-text-grey"></b>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="x-container x-col l2 x-padding">
				<div class="x-container x-center x-padding x-round-large x-border-dashed x-border-orange">
					<b id="total_num_farmer_filter_ip" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
					<span class="x-small">
						Number of Profiles <br>
						<b>IP Profiles</b>
					</span>
				</div>
			</div>
			<div class="x-container x-col l2 x-padding">
				<div class="x-container x-center x-padding x-round-large x-border-dashed x-border-blue">
					<b id="total_num_farmer_filter_youth" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
					<span class="x-small">
						Number of Profiles <br>
						<b>Youth</b>
					</span>
				</div>
			</div>
			<div class="x-container x-col l2 x-padding">
				<div class="x-container x-center x-padding x-round-large x-border-dashed x-border-green">
					<b id="total_num_farmer_filter_pwd" class="x-xxlarge"><span class="fa fa-notch fa spin"></span></b><br>
					<span class="x-small">
						Number of Profiles <br>
						<b>PWD</b>
					</span>
				</div>
			</div>

		</div>
		<hr>
		<div class="x-row">
			<div class=" x-col l8">
				<b class="x-text-teal x-padding">Farmer Profiles</b><br>
				<p class="x-padding x-text-grey">Below are the list of profiled farmer from mobile app and bulk uploading excel files, scroll down to view more list on the selected filters above</p>
				<div id="profile_list" class="x-row x-bottombar" style="overflow-y:scroll;height: 60vh;">
					<div class="x-container x-center">
						<br>
						<span class="x-large x-text-teal">
							Please select and filter area using the selection above to view the list of Farmers
						</span>
					</div>
					<hr>
				</div>
			</div>
			<div class="x-col l4">
				<b class="x-text-teal x-padding">Enumerators</b><br>
				<div class="x-padding x-row">
					<select id="enumeartor_area" class="x-select x-border x-col l10"></select>
					<button class="x-input x-btn x-col l2 x-green" onclick="conso_filters()">
						Filter <span class="fa fa-filter"></span>
					</button>
				</div>
				<div class="x-row x-padding x-bottombar " style=";overflow-y:scroll;height: 60vh;">
					<div id="ls_enumerators" class="x-container x-row">
						
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	let ALL_FARMERS = [], enumerator_encoded_num
	let FILTER_SEL_REG, FILTER_SEL_PROV, FILTER_SEL_CITY, FILTER_SEL_BRGY;
	let FILTER_SEL_PRIMARY_CROP;
	let FILTER_SEL_ENUM_AREA;
	let FILTER_SEL_DATA_SOURCE;

	let FILTER_SEL_FO, FILTER_SEL_DIP;

	function export_farmer_excel(argument) {
		println(FILTERED_ID_FARMERS)
		$send({
			action : "/migrations/export_excel",
			method : POST,
			data : $DATA({
				"ls" : JSON.stringify(FILTERED_ID_FARMERS),
				"id" : ("{{USER_DATA['id']}}")
			}),
			func : function (res){
				alert(res)
			}

		})
		// staytuned()
	}

	let excel_upload_dialog
	function import_farmer_excel(argument) {
		excel_upload_dialog = $dialog({
			title : "import",
			subtitle : "Spreadsheet Uploader for Farmer's Profiles",
			content :(`
				<div class="x-container">
					<div class="x-row">
						<input id="excel_file" type="file" class="x-col l8 x-input x-file x-border"  accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" multiple>
						<button class="x-input x-btn x-green x-col l4" onclick="upload_excel()">
							Upload
						</button>
					</div>
					<div class="x-padding x-container">
						<hr>
						<b class="x-text-teal">Uploaded Spreadsheets</b><br>
						<div id="ls_uploaded_excel" class="x-container">
							<div class="x-padding x-center">
								<span class="fa fa-circle-o-notch fa-spin x-xlarge"></span><br>
								<b class="x-text-grey">Now loading. Please wait . . .</b> 
							</div>
						</div>
					</div>
					<hr>
				</div>
			`)
		})
		excel_upload_dialog.show()
		get_uploaded_excel()
	}

	function upload_excel(){
		excel_upload_dialog.hide()
		SPINNER_LOADER.show()
		var uploader_id  = ("{{USER_DATA['id']}}")
		$send({
			action : "/excel_upload",
			data : $DATA({"uploader" : uploader_id}).appendFile($ID("excel_file")),
			method : POST,
			func : function(res){
				get_uploaded_excel()
			}
		})
	}

	function get_uploaded_excel(){
		var uploader_id  = ("{{USER_DATA['id']}}")
		$send({
			action : "/get_uploaded_excel",
			method : POST,
			func : function(res){
				excel_upload_dialog.show()
				var ls_excel = JSON.parse(res)
				var ls_excel_card = ""

				for (var i = 0; i < ls_excel.length; i++) {
					var colr  = "yellow"
					var note  = "Failed"
					var del_ = ""
					if(ls_excel[i].status=="Synced"){
						colr  = "green"
						note  = "Synced"
					}
					if(ls_excel[i].id=='{{USER_DATA["id"]}}' ){
						del_ = (`
							<b class="x-text-red" onclick="confirm_delete_excel('`+ls_excel[i].file_name+`')">
								Delete 
								<span class="fa fa-trash"></span> 
							</b>
							&nbsp; | &nbsp;
							<b class="x-text-blue" onclick="download_excel('`+ls_excel[i].file_name+`')">
								Download 
								<span class="fa fa-download"></span> 
							</b>
						`)
					}
					ls_excel_card += (`
						<div class="x-row x-padding x-border-dashed x-border-light-grey">
							<div class="x-container x-col l2">
								<b class="x-pale-`+colr+` x-text-`+colr+` x-leftbar x-border-`+colr+`">[`+note+`]</b>
							</div>
							<div class="x-container x-col l5">
								<span class="x-small">`+ls_excel[i].file_name+`</span>
							</div>
							<div class="x-container x-col l2">
								<span>`+ls_excel[i].name+`</span>
							</div>
							<div class="x-container x-col l3">
								`+del_+`
							</div>
						</div>
					`)
				}
				$ID("ls_uploaded_excel").innerHTML = ls_excel_card
				SPINNER_LOADER.hide()
			}
		})
	}

	let del_dialog01
	function confirm_delete_excel(fff){
		del_dialog01 = $dialog({
			title : "Confirm Deletion",
			type : "error",
			content : (`
				Are you sure you want to delete <b>[`+fff+`]</b> <br>
				If you do, a copy of this file will automatically downloaded as for fail-safe
			`),
			buttons : ["Download","Delete","Cancel"],
			buttons_actions : [function (){download_excel(fff)},function (){delete_excel(fff)}]

		})
		del_dialog01.show()
	}

	function download_excel(fff){
		let a= document.createElement('a');
		a.target= '_blank';
		a.href= '/download_excel/'+fff.replace("#","@@").replace("#","@@");
		a.click();
	}

	function delete_excel(fff){
		SPINNER_LOADER.show()
		download_excel(fff)
		$send({
			action : "/delete_excel",
			method : POST,
			data : $DATA({"file":fff.replace("#","@@").replace("#","@@")}),
			func : function(res){
				println(res)
				get_uploaded_excel()
				SPINNER_LOADER.hide()

				excel_upload_dialog.destroy()
				get_uploaded_excel()
			}
		})
		del_dialog01.destroy()
	}

	// =========================for FILTER====================================================

	function get_ls_enum_area(){
		var ls_all_enum_area = '<option type="" value="all" selected>All RCU Level</option>'
		for(key in CONSO_LISTED_ENUMERATOR_AREA){
			ls_all_enum_area += '<option value="'+key+'">'+key+'</option>'
		}
		$ID("enumeartor_area").innerHTML = ls_all_enum_area
	}	

	function get_ls_fo(){
		var ls_all_fo = '<option type="" value="all" selected>All </option>'
		for(key in CONSO_LISTED_FO){
			ls_all_fo += '<option value="'+key+'">'+key+'</option>'
		}
		$ID("dash_sel_fo").innerHTML = ls_all_fo;
	}

	function get_ls_dip(){
		var ls_all_dip = '<option type="" value="all" selected>All </option>'
		for(key in CONSO_LISTED_DIP){
			ls_all_dip += '<option value="'+key+'">'+key+'</option>'
		}
		$ID("dash_sel_dip").innerHTML = ls_all_dip;
	}	

	function get_ls_crops(){
		var ls_all_crops_primary = '<option type="" value="all" selected>All Crops</option>'
		for(key in VALUE_CHAIN_CROP){
			ls_all_crops_primary += '<option value="'+VALUE_CHAIN_CROP[key].toLowerCase()+'">'+VALUE_CHAIN_CROP[key].toLowerCase()+'</option>'
			delete CONSO_LISTED_PRIMARY_CROPS[VALUE_CHAIN_CROP[key].toLowerCase()]
		}
		for(key_untagg in CONSO_LISTED_PRIMARY_CROPS){
			ls_all_crops_primary += '<option class="x-pale-red" value="'+key_untagg+'">untagged : '+key_untagg+'♦</option>'
		}
		$ID("dash_sel_crop_primary").innerHTML = ls_all_crops_primary;
	}	

	function get_ls_region(){
		var ls_all_reg = '<option type="" value="all" selected>All Regions</option>'
		for(key in ALL_LOCATION){
			ls_all_reg += '<option value="'+key+'">'+key+'</option>'
			delete CONSO_LISTED_REGIONS[key]
		}
		for(key_untagg in CONSO_LISTED_REGIONS){
			ls_all_reg += '<option class="x-pale-red" value="'+key_untagg+'">untagged : '+key_untagg+'♦</option>'
		}
		$ID("dash_sel_region").innerHTML = ls_all_reg
	}

	function get_ls_prov(reg){
		var ls_all_prov = '<option type="" value="all" selected>All Provinces</option>'
		SEL_REG = reg
		for(key in ALL_LOCATION[reg]["province_list"]){ls_all_prov += '<option value="'+key+'">'+key+'</option>'}
		$ID("dash_sel_prov").innerHTML = ls_all_prov;$ID("dash_sel_prov").disabled = false
	}

	function get_ls_city(prov){
		var ls_all_city = '<option type="" value="all" selected>All Cities/Municipalities</option>'
		SEL_PROV = prov
		for(key in ALL_LOCATION[SEL_REG]["province_list"][prov]['municipality_list']){ls_all_city += '<option value="'+key+'">'+key+'</option>'}
		$ID("dash_sel_city").innerHTML = ls_all_city;$ID("dash_sel_city").disabled = false
	}

	function get_ls_brgy(city){
		var ls_all_brgy = '<option type="" value="all" selected>All Barangay</option>'
		SEL_CITY = city
		var brgys = ALL_LOCATION[SEL_REG]["province_list"][SEL_PROV]['municipality_list'][city]["barangay_list"]
		for (var i = 0; i < brgys.length; i++) {ls_all_brgy += '<option value="'+brgys[i]+'">'+brgys[i]+'</option>'}
		$ID("dash_sel_brgy").innerHTML = ls_all_brgy;$ID("dash_sel_brgy").disabled = false
	}

	function get_ls_all_area(brgy){SEL_BRGY=brgy}
	function get_ls_primary_crop(){}

	function filterByArea(person){
		var _prk= person.addr_street_purok_sitio 
		var _city = person.addr_city
		var _prov= person.addr_prov
		var _reg = person.addr_region
		var _brg = person.addr_brgy

		if(FILTER_SEL_REG=="all" ||FILTER_SEL_REG==undefined){SPINNER_LOADER.show();return true}

		if(_reg==FILTER_SEL_REG){
			if(FILTER_SEL_PROV=="all" ||FILTER_SEL_PROV==undefined){return true}
			else{
				if(_prov==FILTER_SEL_PROV){
					if(FILTER_SEL_CITY=="all" ||FILTER_SEL_CITY==undefined){return true}
					else{
						if(_city==FILTER_SEL_CITY){
							if(FILTER_SEL_BRGY=="all" ||FILTER_SEL_BRGY==undefined){return true}
							else{
								if(_brg==FILTER_SEL_BRGY){return true}
								else{return false}
							}
						}
					}
				}
			}
		}
		else{return false}
	}

	function filterByPrimaryCrop(person){
		var _primary_crop= person["farmer-primary_crop"]
		if(FILTER_SEL_PRIMARY_CROP=="all" ||FILTER_SEL_PRIMARY_CROP==undefined){SPINNER_LOADER.show();return true}
		if(_primary_crop==FILTER_SEL_PRIMARY_CROP){	return true}
		else{return false}
	}

	function filterByEnumArea(person){
		var enum_area_= person["input_by"]["rcu"]
		if(FILTER_SEL_ENUM_AREA=="all" ||FILTER_SEL_ENUM_AREA==undefined){SPINNER_LOADER.show();return true}
		if(enum_area_==FILTER_SEL_ENUM_AREA){return true}
		else{return false}
	}

	function filterByDataSource(person){
		var data_source= person["SOURCE"]
		if(FILTER_SEL_DATA_SOURCE=="all" ||FILTER_SEL_DATA_SOURCE==undefined){SPINNER_LOADER.show();return true}
		if(data_source==FILTER_SEL_DATA_SOURCE){return true}
		else{return false}
	}

	function filterByDIP(person){
		var DIP__= person["farmer_dip_ref"]
		if(FILTER_SEL_DIP=="all" ||FILTER_SEL_DIP==undefined){SPINNER_LOADER.show();return true}
		if(DIP__==FILTER_SEL_DIP){return true}
		else{return false}
	}

	function filterByFO(person){
		var FO__= person["farmer-fo_name_rapid"]
		if(FILTER_SEL_FO=="all" ||FILTER_SEL_FO==undefined){SPINNER_LOADER.show();return true}
		if(FO__==FILTER_SEL_FO){return true}
		else{return false}
	}

	async function conso_filters(){
		$ID("prof_farmer_count").innerHTML = 0
		SPINNER_LOADER.show()
		await new Promise(resolve => setTimeout(resolve, 1000)); // WAIT FOR 1 SECONDS
		FILTER_SEL_REG = $ID("dash_sel_region").value
		FILTER_SEL_PROV = $ID("dash_sel_prov").value
		FILTER_SEL_CITY = $ID("dash_sel_city").value
		FILTER_SEL_BRGY = $ID("dash_sel_brgy").value

		FILTER_SEL_PRIMARY_CROP = $ID("dash_sel_crop_primary").value;
		FILTER_SEL_ENUM_AREA = $ID("enumeartor_area").value;
		FILTER_SEL_DATA_SOURCE = $ID("dash_sel_data_source").value;

		FILTER_SEL_FO= $ID("dash_sel_fo").value;
		FILTER_SEL_DIP= $ID("dash_sel_dip").value;

		enumerator_encoded_num = {}
		total_recors_farmer_counter = 0
		populate_farm_list_for_numbers(ALL_FARMERS)
	}

	// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
	// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
	var LS__PROF
	function get_list_file(){ // For Inititalizing list in profiling/profiling_farmers.html
		SPINNER_LOADER.show()
		LS__PROF = $send({
			action:"/api/list_all_profile",
			method: POST,
			func : function(res){
				ls_file_farmer = JSON.parse(res)
				$ID("prof_farmer_count_all").innerHTML = ls_file_farmer.length
				enumerator_encoded_num = {}

				ALL_FARMERS=ls_file_farmer
				conso_all(ALL_FARMERS)
				populate_farm_list_for_numbers(ALL_FARMERS)
				
			},
			progress : function(e){
				println(e)
				SPINNER_LOADER.message(`
					<span>
						Gathering 
						<b>[`+(e.loaded/100000)+`]</b>
					</span>
				`);
			}
		})
		println(LS__PROF)
	}
	
	// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
	// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

	let RES_ALL_FARMER_PROF= []
	let FILTERED_ID_FARMERS = []
	function populate_farm_list_for_numbers(ALL_FARMERS____){
		FILTERED_ID_FARMERS = []
		LS_FARMER_VIEW ="";
		var FILTER_total_recors_farmer_counter = 0;
		$ID("profile_list").innerHTML = "";
		$ID("profile_list").addEventListener("scroll", prof_farmer_view_scroll);
		async_num_farmer_count= 0;
		for (var f_counter = 0;f_counter < ALL_FARMERS____.length;f_counter++) {
			if(
				filterByArea(ALL_FARMERS____[f_counter]) &&
				filterByPrimaryCrop(ALL_FARMERS____[f_counter]) &&
				filterByEnumArea(ALL_FARMERS____[f_counter]) &&
				filterByFO(ALL_FARMERS____[f_counter]) &&
				filterByDIP(ALL_FARMERS____[f_counter]) &&
				filterByDataSource(ALL_FARMERS____[f_counter])

				){
				make_ls_farmer(ALL_FARMERS____[f_counter],ALL_FARMERS____.length,f_counter);
				RES_ALL_FARMER_PROF.push(ALL_FARMERS____[f_counter]);
				popu_enumerator_encoded(ALL_FARMERS____[f_counter]);
				FILTERED_ID_FARMERS.push(ALL_FARMERS____[f_counter]['farmer_code'])
				$ID("scan_item").innerHTML = FILTER_total_recors_farmer_counter;
				FILTER_total_recors_farmer_counter += 1;
				dash_number(ALL_FARMERS____[f_counter])
			}
		}
		$ID("scan_item").innerHTML = FILTER_total_recors_farmer_counter;
		$ID("profile_list").style.display = "block";
		num_enumerator_encoded();
		SPINNER_LOADER.hide();
	}

	function prof_farmer_view_scroll(e){
		var element = $ID("profile_list")
		if((element.scrollHeight - element.scrollTop) <= element.clientHeight+1){
			var prof_card = $CLASS("farmer_card")
			var limit_ls_inc = 0
			for (var i = 0; i < prof_card.length; i++) {
				if(prof_card[i].style.display=="none"){
					prof_card[i].style.display = "block"
					if(limit_ls_inc >= 1){
						limit_ls_inc = 0
						return
					}
					limit_ls_inc += 1
				}
				
			}
		}
	}

	let LS_FARMER_VIEW =""
	function post_farmer_ls(){
		$ID("profile_list").innerHTML =LS_FARMER_VIEW;
	}


	let num_filter_ip = 0, num_filter_pwd = 0, num_filter_youth = 0,num_filter_male = 0,num_filter_female = 0,num_filter_untagged = 0;
	function dash_number(person){
		// println(person['farmer_sex'])
		if(person['farmer-is_ip']==true){num_filter_ip += 1}
		if(person['farmer-is_pwd']==true){num_filter_pwd += 1}

		if(person['farmer-age']>18 && person['farmer-age']<34){num_filter_youth += 1}

		if(person['farmer_sex'].toLowerCase()=="male"){num_filter_male += 1}
		else if(person['farmer_sex'].toLowerCase()=="female"){num_filter_female += 1}
		else{num_filter_untagged += 1}


		// $ID("total_num_farmer_filter_ip").innerHTML
	}

	function dash_nums(){
		$ID("total_num_farmer_filter_ip").innerHTML = num_filter_ip
		$ID("total_num_farmer_filter_pwd").innerHTML = num_filter_pwd
		$ID("total_num_farmer_filter_youth").innerHTML = num_filter_youth

		$ID("total_num_farmer_filter_male").innerHTML = num_filter_male
		$ID("total_num_farmer_filter_female").innerHTML = num_filter_female
		$ID("total_num_farmer_filter_untagged").innerHTML = num_filter_untagged


		println("********** DONE ****************")
		num_filter_ip = 0
		num_filter_pwd = 0
		num_filter_youth = 0
		num_filter_male = 0
		num_filter_female = 0
		num_filter_untagged = 0
	}

	let async_num_farmer_count = 0;
	async function make_ls_farmer(alldata_farmer,total_recors_farmer,total_recors_farmer_counter){
		await new Promise(resolve => setTimeout(SKKKR, 10)); // WAIT FOR n.. SECONDS
		function SKKKR() {
			async_num_farmer_count += 1
			$ID("prof_farmer_count").innerHTML = async_num_farmer_count
			var person = alldata_farmer
			var prof_pic = ""
			var profile_card_isvisible = 'block'
			if(async_num_farmer_count>=20){profile_card_isvisible = "none"}
			LS_FARMER_VIEW += `
			<div style="display:`+profile_card_isvisible+`" class="farmer_card x-animate-bottom x-row x-hover-teal x-padding" id="`+person.farmer_code+`" onclick="get_ind('`+person.farmer_code+`')">
				<div class='x-row'>
					<div class="x-col l1">
						<!-- <img loading="lazy" id="img_`+person.farmer_code+`" src="`+prof_pic+`" class="x-image x-round" style="max-width:100%"> -->
					</div>
					<div class="x-col l3 x-container">
						<b class="">`+person.farmer_name+`</b><br>
						<span class="x-tiny">
							<span>`+person.addr_street_purok_sitio+`</span> 
							<span>`+person.addr_city+`</span> 
							<span>`+person.addr_prov+`</span> 
							<span>R:`+person.addr_region+`</span> 
						</span><br>
					</div>
					<div class="x-col l3 x-container">
						<i class=""><span>`+person["farmer-primary_crop"]+`</span> </i><br>
						<span class="x-tiny">-----</span><br>
					</div>
					<div class="x-col l4 x-container x-center">
						<span class="x-tiny">Form Completion</span><br>
						<b class="x-large">--%</b><br>
					</div>
				</div>
				<div class="x-container x-row">
					<span class="x-tiny x-text-grey x-left">
						<b>Encoded by: `+person.input_by.name+` |  `+person.input_by.id+`</b>
					</span>
					<span class="x-tiny x-text-grey x-right">
						<b>`+async_num_farmer_count+`:`+total_recors_farmer_counter+`</b>-`+person.farmer_code+`
					</span>
				</div>
			</div>`
			if(async_num_farmer_count >= parseInt($ID("scan_item").innerHTML)){
				post_farmer_ls()
				dash_nums()
			}
		}
	}



	// ==================================================
	function num_enumerator_encoded(){
		var skrt = ""
		for(key in enumerator_encoded_num){
			skrt += (`
				<div class="x-text-grey x-row x-padding x-border-dashed">
					<div class="x-col l2 x-text-black x-padding">
						<b class="x-large x-right">`+enumerator_encoded_num[key].num+`</b>
					</div>
					<div class="x-col l8">
						`+key+` : 
						<br>
						<span class="x-tiny">`+enumerator_encoded_num[key].user.rcu+`</span> | 
						<span class="x-tiny">`+enumerator_encoded_num[key].user.pcu+`</span>
					</div>
				</div>
			`)
		}
		$ID("ls_enumerators").innerHTML = skrt
		return skrt
	}

	function popu_enumerator_encoded(farmer){
		if(enumerator_encoded_num[farmer.input_by.name]==undefined){
			enumerator_encoded_num[farmer.input_by.name] = {"num":0 , "user":{}}
		}
		enumerator_encoded_num[farmer.input_by.name].num += 1
		enumerator_encoded_num[farmer.input_by.name].user = farmer.input_by
	}

	// ==========================================================
	function get_ind(fid){

		if(fid.search("#") >= 0){
			var exc_dialog = $dialog({
				title : "Spreadsheet Data",
				subtitle : "Coming Soon !",
				content : (`
					<b>You are selecting a Profile From Spreadsheet Data</b><br>
					Stay Tuned as we work on this feature.
				`)
			})
			exc_dialog.show()
		}else{
			loading.show()
			$send({
				action : "/get_profile",
				data : $DATA({"profile_file_name":fid+"@profile"}),
				method : POST,
				func : function (res) {
					view_farmer_data(res)
					loading.hide()

				}
			})
		}

	}
	// =========================================================
	function view_farmer_data(res){
		var form_selection_btn = ""
		var person = JSON.parse(JSON.parse(res))

		for (var i = 0; i < FORM_A_LS.length; i++) {
			form_selection_btn +=(`
				<button class="x-btn x-block x-border"
				onclick="get_farmer_form('`+person.farmer_code+`@`+FORM_A_LS[i].file+`')">
					`+FORM_A_LS[i].label+`
				</button>		
			`)
		}

		var prof_pic = person.farmer_img_base64
		if(prof_pic=="" || prof_pic==" " || prof_pic==undefined){
			prof_pic = "../static/img/user.png"
		}
		var farmer_dialog_info = $dialog({
			title : person.farmer_name + "|| <span class='x-small x-text'>[This feature is under Development]</span>",
			subtitle :( `
				<span class="x-tiny">
					<span>`+person.addr_street_purok_sitio+`</span> 
					<span>`+person.addr_city+`</span> 
					<span>`+person.addr_prov+`</span> 
					<span>R:`+person.addr_region+`</span> 
				</span>
			`),
			content : (`
				<div class="x-container x-row">
					<div class="x-col l3">
						<div class="x-padding">
							<img loading="lazy" id="img_`+person.farmer_code+`" src="`+prof_pic+`" class="x-image x-round" style="max-width:100%">
						</div>
						`+form_selection_btn+`
					</div>
					<div id="form_farmer_a_`+person.farmer_code+`" class="x-col l9 x-padding" style=";overflow-y:scroll;height: 70vh;">
						<div class="x-container x-center">
							<br><br><br>
							<h3>Please Select Form</h3>
						</div>
					</div>
				</div>
			`),
			footer_content :(`
				<div class="x-row">
					<span onclick = "get_form_data()">
						Encoded by: 
						<b>
							`+person.input_by.name+` | 
							`+person.input_by.email+`
						</b>
					</span>
				</div>
			`),
			buttons : ["Okay"]

		})
		farmer_dialog_info.elements[0].style.width = "70vw"
		farmer_dialog_info.show()
	}


	// ===================================================================================
	function get_farmer_form(file_farmer){ // GET SUBform of selected farmer
		var f_fname = file_farmer.split("@")
		$ID("form_farmer_a_"+f_fname[0]).innerHTML = file_farmer
		$send({
			action : "/get_sub_form_a_template",
			data : $DATA({"subform_temp":f_fname[1]}),
			method : POST,
			func : function (res) {
				$ID("form_farmer_a_"+f_fname[0]).innerHTML = res
				
				$send({
					action : "/get_sub_form_a",
					data : $DATA({"subform":file_farmer}),
					method : POST,
					func : function (res) {
						var form_ = JSON.parse(JSON.parse(res))
						refill_data_forms__(form_)
					}
				})
			}
		})
	}
	let form_f_names = []
	function get_form_data(){
		var form_data_a = $CLASS("form_data_a")
		var f_list = []

		for (var i = 0; i < form_data_a.length; i++) {
			f_list.push(form_data_a[i].id)
		}
		form_f_names.push(f_list)
	}


	function refill_data_forms__(form_){ /////////// REFILLING FOR HAS DATA 
		var form_data_refill = form_
		var form_data = $CLASS("form_data_a")

		for (var i = 0; i < form_data.length; i++) {
			// println(form_data[i].id)
			if(form_data[i].type==='checkbox'){
				// form_data[i].checked = form_data_refill[form_data[i].id] // DIRECT VALUE Transfer 
				try{
					if(form_data_refill[form_data[i].id]){// Simulate Clicked
						form_data[i].click() // Simulate Clicked
					}
				}catch(e){
					println(" error in refill data")
				}
			}
			else{
				try{
					if (form_data_refill[form_data[i].id]==undefined) {form_data_refill[form_data[i].id] = ""}
					form_data[i].value = form_data_refill[form_data[i].id]
				}
				catch(e){println("ERROR in refill_data_forms__ :: "+e)}
			}
			form_data[i].disabled = true // TEMPORARY WHILE ON DEV FOPRMS
		}

	}

	function get_prof_imgs(ls_file){  // Lazy Load for Profile Images After profrile list completely lodaded
		// if(ls_file[i]==null){}
		for (var i = 0; i < ls_file.length; i++) {
			$send({
				action : "/api/get_imgProf/"+ls_file[i],
				method : POST,
				func : function(res) {
					try{
						var im_res = JSON.parse(res)
						// println(im_res)
						var ids_ = (im_res.f_name).split(".")[0]
						var prof_pic = im_res.base_64
						if(prof_pic=="" || prof_pic==" " || prof_pic==undefined){
							prof_pic = "../static/img/user.png"
						}
						$ID("img_"+ids_).src = prof_pic
					}
					catch(e){
						println(" ERROR in getting image for img_"+ids_ +" || ERROR : "+e)
					}
				}
			})
		}
	}

	// ==========================Profile=====================================

	function not_head_hh(sel){
		if(!sel){
			$ID("not_head_hh").style.display = "block"
		}else{
			$ID("not_head_hh").style.display = "none"
		}
	}

	// ==========================Access to financial=====================================

	function trigger_check(chbox,_ids){
		if (chbox.checked) {$ID(_ids).style.display = "block"}
		else{$ID(_ids).style.display = "none"}
	}
</script>