<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../static/css/x.css">
	<link rel="stylesheet" href="../static/css/other.css">
	<link rel="stylesheet" href="../static/css/other2.css">
	<link rel="stylesheet" href="../static/css/loader.css">
	<link rel="stylesheet" href="../static/css/scroll_bar.css">
	<link rel="stylesheet" href="../static/css/css">
	<link rel="stylesheet" href="../static/css/chip.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../static/css/scroll_bar.css">
	<link rel="icon" href="../static/img/icon.png">

	<script type="text/javascript" src="../static/js/Variables.js"></script>
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/Brorn.min.js"></script>
	<!-- <script type="module" src="../static/js/index.js"></script> -->
	<script type="text/javascript" src="../static/js/index.js"></script>
	<!-- <script type="module" src="../static/js/Bootloader.js"></script> -->
	<!-- <script type="text/javascript" src="../static/js/Bootloader.js"></script> -->



	<script src="../static/js/amcharts/index.js"></script>
	<script src="../static/js/amcharts/xy.js"></script>
	<script src="../static/js/amcharts/Animated.js"></script>

<!-- 	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin=""/>

	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""></script> -->
	 
	<script type="text/javascript" src="../static/js/leaflet/leaflet.js"></script>
	<script type="text/javascript" src="../static/js/leaflet/leaflet-panel-layers.js"></script>
	<link rel="stylesheet" href="../static/css/leaflet.css">
	<link rel="stylesheet" href="../../static/css/leaflet-panel-layers.css">

	

	 
	<script src="https://apis.google.com/js/platform.js" async defer></script>
</head> 