<!DOCTYPE html>
<html>
	{% include 'head.html' %}
	<body class="" onload="__init__()">
		 <!-- CONTENT BODY ---------------------------------------- -->
		<div class="x-display-container"  style="padding-left: 10%;padding-right: 10%;min-height: 100vh;">
			<div class="x-display-middle">
				<img src="../static/img/off-site.gif">
				<div class="x-center">
					<b>System is under Server Maintenance</b><br>
					<span>You may try later...</span>
				</div>
			</div>
		</div>
		<footer class="x-footer x-container x-light-grey" style=" position: fixed; bottom: 0; width: 100%;">
			<span class="x-small x-text-grey x-left">DTI RAPID NPCO 2022</span>
			<span class="x-small x-text-grey x-right">DTI RAPID NPCO 2022</span>
		</footer>
	</body>
	<script type="text/javascript">
	</script>	
</html>
