<html>
<head>
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-890" lang="en-us">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../../static/webrepstatic/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap" rel="stylesheet">

		<script src="js/jquery.min.js"></script>-->

		<!-- CSS only -->
    <link href="../../static/webrepstatic/css/bootstrap.min.css" rel="stylesheet">


		<!-- JavaScript Bundle with Popper -->
    <script defer src="../../static/webrepstatic/js/bs@5.2.3/bootstrap.bundle.min.js"></script>

		<title >Who we are</title>
	</head>



</head>

<body>
 
<!--NAVBAR-->
<nav class="navbar navbar-expand-xl navbar-light bg-white fixed-top">
	<div class="container">
		<a class="navbar-brand mx-auto mx-sm-start" href="/rapid/home.html">
				 <img src="../../static/webrepstatic/img/RAPID.svg" width="150" height="110" class="" alt="home">
			</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			
			<ul class="navbar-nav mx-auto ">

				<li class="nav-item dropdown pr-2">
						<a class="nav-link dropdown-toggle " href="whatWedo.html" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							What we do
						</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoDD.html">Development Direction</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoDAB.html">Direction Assistance to Beneficiaries</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoIS.html">Institutional Strengthening</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoFSP.html">Technical Assistance to Financial Service Providers (FSPs)</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoPM.html">Project Management</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoRBM.html">RAPID Business Model</a>
						<a class="dropdown-item" href="/rapid/whatwedo/whatWedoVC.html">Value Chain</a>
					</div>
				</li>

				<li class="nav-item dropdown pr-2">
						<a class="nav-link dropdown-toggle " href="/rapid/whoweare/whoweareHistory.html" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Who we are
						</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/rapid/whoweare/whoweareHistory.html">History</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoweareMMV.html">Mandate, Mission & Vission</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoweareORG.html">Organization</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoweareGOV.html">Governance</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoweareFIN.html">Finances</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoweareFP.html">Fundamental Principles</a>
						<a class="dropdown-item" href="/rapid/whoweare/whoweareWR.html">Working for RAPID</a>
					</div>
				</li>

				<li class="nav-item dropdown pr-2">
						<a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Where we work
						</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkEV.html">EASTERN VISAYAS</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkZP.html">ZAMBOANGA PENINSULA</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkNM.html">NORTHERN MINDANAO</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkDV.html">DAVAO</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkSOC.html">SOCCSKSARGEN</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkCAR.html">CARAGA</a>
						<a class="dropdown-item" href="/rapid/wherewework/whereWeworkBARMM.html">BARMM</a>

					</div>
				</li>

				<li class="nav-item">
					<a class="nav-link disabled" href="#">News & Stories</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Knowledge
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="/rapid/knowledgecenter/knowledgeCenter.html">Document</a>
						<a class="dropdown-item" href="/rapid/knowledgecenter/knowledgeCenter.html">Multimedia</a>
						<a class="dropdown-item" href="/rapid/knowledgecenter/knowledgeCenter.html">Publications</a>
						
					</div>
				</li>


			</ul>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal" href="#">Login</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Who we are -->

<div style="border: 1px ; height: 20%;">
	
</div>

<div class="container">

	<div class="d-lg-flex mt-5">
		
		<div class="container col-sm mx-auto p-5 mt-5 ">
			<h5 class="headings display-3 fst-italic " style="color: #1F4F5A !important;">Who we are</h5>
			<p class="fst-italic text-start mt-5">Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
			Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
			Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
			Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..</p>
		</div>

		<div class="www-item mx-auto">
			<img src="https://images.unsplash.com/photo-1626984232603-cc32cf514a83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="d-block w-100 www-img">
		</div>

	</div>

</div>


<div class="mt-5 ">
	
</div>

<!-- content -->

<div class="mt-5">

<div class="container-md  mt-5">
		<div class="d-flex align-items-start ">

			<div class="nav flex-column nav-pills me-3 pe-5" id="v-pills-tab" role="tablist " aria-orientation="vertical" style="border-right: 1px solid #1F4F5A;">
					<a class="text-start nav-link   mb-2" id="v-pills-History-tab" data-bs-toggle="pill" data-bs-target="#v-pills-History" type="button" role="tab" aria-controls="v-pills-History" aria-selected="false" style="">History</a>

					<a class="text-start nav-link   mb-2" id="v-pills-MMV-tab" data-bs-toggle="pill" data-bs-target="#v-pills-MMV" type="button" role="tab" aria-controls="v-pills-MMV" aria-selected="false">Mandate, Mission & Vission</a>

					<a class="text-start nav-link  mb-2" id="v-pills-ORG-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ORG" type="button" role="tab" aria-controls="v-pills-ORG" aria-selected="false">Organization</a>

					<a class="text-start nav-link  mb-2" id="v-pills-GOV-tab" data-bs-toggle="pill" data-bs-target="#v-pills-GOV" type="button" role="tab" aria-controls="v-pills-GOV" aria-selected="false">Governance</a>

					<a class="text-start nav-link  mb-2" id="v-pills-FIN-tab" data-bs-toggle="pill" data-bs-target="#v-pills-FIN" type="button" role="tab" aria-controls="v-pills-FIN" aria-selected="false">Finances</a>

					<a class="text-start nav-link  mb-2" id="v-pills-FP-tab" data-bs-toggle="pill" data-bs-target="#v-pills-FP" type="button" role="tab" aria-controls="v-pills-FP" aria-selected="false">Fundamental Principles</a>

					<a class="text-start nav-link active mb-2" id="v-pills-WFR-tab" data-bs-toggle="pill" data-bs-target="#v-pills-WFR" type="button" role="tab" aria-controls="v-pills-WFR" aria-selected="true">Working for RAPID</a>
				</div>

				<div class="tab-content w-100" id="v-pills-tabContent">

					<div class="tab-pane fade  mt-3" id="v-pills-History" role="tabpanel" aria-labelledby="v-pills-History-tab" tabindex="0">
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
					</div>

					<div class="tab-pane fade  mt-3" id="v-pills-MMV" role="tabpanel" aria-labelledby="v-pills-MMV-tab" tabindex="0">
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
					</div>

					<div class="tab-pane fade" id="v-pills-ORG" role="tabpanel" aria-labelledby="v-pills-ORG-tab" tabindex="0">


								<ul class="nav mt-3 border-bottom border-light">
									<li class="nav-item me-2">
										<a class="nav-link active rounded-pill " aria-current="page" href="#">Organizational Chart</a>
									</li>
									<li class="nav-item ">
										<a class="nav-link rounded-pill" href="#">Key Officials</a>
									</li>
									<li class="nav-item ">
										<a class="nav-link rounded-pill" href="#">Functions</a>
									</li>
									<li class="nav-item ">
										<a class="nav-link rounded-pill" href="#">Employee's Handbook</a>
									</li>
																		
			
						
					<!--   <nav class="col-xs-12 w-100">
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<button class="nav-link active" id="nav-Cacao-tab" data-bs-toggle="tab" data-bs-target="#nav-Cacao" type="button" role="tab" aria-controls="nav-Cacao" aria-selected="true">Organizational Chart</button>
								<button class="nav-link" id="nav-Coffee-tab" data-bs-toggle="tab" data-bs-target="#nav-Coffee" type="button" role="tab" aria-controls="nav-Coffee" aria-selected="false">Key Officials</button>
								<button class="nav-link" id="nav-Coconut-tab" data-bs-toggle="tab" data-bs-target="#nav-Coconut" type="button" role="tab" aria-controls="nav-Coconut" aria-selected="false">Functions</button>
								<button class="nav-link" id="nav-PFN-tab" data-bs-toggle="tab" data-bs-target="#nav-PFN" type="button" role="tab" aria-controls="nav-PFN" aria-selected="false">Employee's Handbook</button>
							</div>
						</nav> 

						<div class="tab-content ms-auto" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-Cacao" role="tabpanel" aria-labelledby="nav-Cacao-tab" tabindex="0">...</div>
							<div class="tab-pane fade" id="nav-Coffee" role="tabpanel" aria-labelledby="nav-Coffee-tab" tabindex="0">...</div>
							<div class="tab-pane fade" id="nav-Coconut" role="tabpanel" aria-labelledby="nav-Coconut-tab" tabindex="0">...</div>
						</div>-->
						
					</div>

					<div class="tab-pane fade mt-3" id="v-pills-ORG" role="tabpanel" aria-labelledby="v-pills-ORG-tab" tabindex="0">
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
					</div>

					<div class="tab-pane fade  mt-3" id="v-pills-GOV" role="tabpanel" aria-labelledby="v-pills-GOV-tab" tabindex="0">
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
					</div>

					<div class="tab-pane fade  mt-3" id="v-pills-FIN" role="tabpanel" aria-labelledby="v-pills-FIN-tab" tabindex="0">
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
					</div>

					<div class="tab-pane fade mt-3" id="v-pills-FP" role="tabpanel" aria-labelledby="v-pills-FP-tab" tabindex="0">
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
					</div>

					<div class="tab-pane fade show active mt-3" id="v-pills-WFR" role="tabpanel" aria-labelledby="v-pills-WFR-tab" tabindex="0">
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
						Lorem ipsum dolor sit amet. Est facere internos et error nihil aut mollitia nisi. Ut ducimus labore aut aperiam quibusdam cum necessitatibus nobis ex iste odio hic repudiandae voluptatibus aut deleniti fugit ut eveniet neque..
					</div>

					
				</div>
		</div>
</div>
</div>

<div style="border: 1px ; height: 2%;">
	
</div>

<!--Footer-->

  <div class="position-relative mt-5 c-item">

    <img src="https://images.unsplash.com/photo-1504788576473-fa4b594356a6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="d-block w-100 c-img" alt="...">

    

    <div class="cont position-absolute top-50 start-50 translate-middle"  style="width: 100%">

           <div class="container d-flex" >

              <div class="mx-auto d-lg-block d-xl-none " style="margin-top: -200px;">
                <img src="../../static/webrepstatic/img/footer.svg" width="800" height="200" class="" alt="home">
              </div>             

           </div>

        </div>
      


    <!-- <div class="footer bg-dark text-white w-100 position-absolute bottom-0 start-50 translate-middle-x opacity-25">
    </div> -->

          <div class="container text-white w-100 position-absolute bottom-0 start-50 translate-middle-x">

            <div class="col-lg-12  d-flex mt-3 border-bottom border-white">

              <div class="d-none d-xl-block w-50 ">
                      <img src="../../static/webrepstatic/img/footer.svg" width="400" class="w-100 " alt="home" >
                    </div>

              <div class="d-block me-5">
              <h5>Office Hours</h5>
              <span class="small text-white">Monday - Friday</span><br>
              <span class="small text-white">8:00am - 5:00pm</span><br>
              <span class="small text-white">(except hollidays)</span>
              </div>

              <div clas="d-block ms-5 ">
              <h5>Main Office Address</h5>
              <span class="small text-white">National Project Coordination Office</span><br>
              <span class="small text-white">RAPID GROWTH PROJECT</span><br>
              <span class="small text-white">Department of Trade and Industry</span><br>
              <span class="small text-white">2F MINTRADE BLDG.</span>
              </div>

              <div class="d-block ms-5 ">
              <h5>Feedback</h5>
              <span class="small text-white">We would like to hear from you.</span><br>
              <span class="small text-white">Fill out the <a class="text-white" href="#" style="display: inline;">feedback</a> Form to<br>provide us your ideas on <br>how we can improve our website</span><br>
              <span class="small text-white">Thank you.</span>
              </div>

              <!-- <div class="mx-auto" style=" border: solid 1px yellow;">
                      <img class="w-100 h-75" src="img/footer.svg" class="" alt="home">
                    </div> -->

              

            </div>

            <div class="col-sm-6 mt-1">

              <div class="d-flex">

                <a class="text-white" href="">Privacy Policy</a>
                <a class="text-white ms-3" href=""> Terms</a>
                <a class="text-white ms-3" href="">Security</a>

              </div>
              
            </div>

            <div class="col-sm-4">
              
            </div>
            
          </div>
      



  </div>


</body>
</html>