<div class="x-row x-padding">
	<div class="x-container">
		<div class="x-container x-left">
			<span class="x-row x-xxlarge x-text-blue">Form: A</span>
		</div>
		
	</div>
	<div class="x-container">
		<div class="x-container x-col l3 x-padding x-card">
			<form>
				<span>Name</span> <input name="name" class="x-input x-border"><br>
				<span>Label</span> <input name="label" class="x-input x-border"><br>
				<span>Label</span> 
				<select class="x-select">
					<option>Select</option>
				</select><br>
				<br>
			</form>
		</div>
		<div class="x-container x-col l3 x-padding x-card">
			<span class="x-text-blue x-large">Advance Search</span><br>
		</div>
	</div>
</div>
<select class="sample">
	<option selected disabled value="0">not selected</option>
	<option value="0">Not</option>	
	<option value="1">minimal</option>	
	<option value="2">somewhat</option>	
	<option value="3">skilled</option>	
	<option value="4">very skilled</option>	
</select><br>

<select class="sample">
	<option selected disabled value="0">not selected</option>
	<option value="0">Not</option>	
	<option value="1">minimal</option>	
	<option value="2">somewhat</option>	
	<option value="3">skilled</option>	
	<option value="4">very skilled</option>	
</select><br>

<select class="sample">
	<option selected disabled value="0">not selected</option>
	<option value="0">Not</option>	
	<option value="1">minimal</option>	
	<option value="2">somewhat</option>	
	<option value="3">skilled</option>	
	<option value="4">very skilled</option>	
</select><br>

<select class="sample">
	<option selected disabled value="0">not selected</option>
	<option value="0">Not</option>	
	<option value="1">minimal</option>	
	<option value="2">somewhat</option>	
	<option value="3">skilled</option>	
	<option value="4">very skilled</option>	
</select><br>

<select class="sample">
	<option selected disabled value="0">not selected</option>
	<option value="0">Not</option>	
	<option value="1">minimal</option>	
	<option value="2">somewhat</option>	
	<option value="3">skilled</option>	
	<option value="4">very skilled</option>	
</select><br>
<button onclick ="sampleaverage()">Submit</button>

<script type="text/javascript">

		function sampleaverage(){
			var total = 0.0
			var num = 0.0
			var sel = $CLASS("sample")
			for (var i = 1; i < sel.length; i++) {
				println(sel[i].value)
				total += parseFloat(sel[i].value)
				num = i
			}
			println("total")
			println(total)
			var ave = total/num
			alert(ave)
		}
</script>